/.BaseTransformation.java._trace
/.BaseTransformation.xtendbin
/.ViatraConditionalDebugTransformation.java._trace
/.ViatraConditionalDebugTransformation.xtendbin
/.ViatraDebugTransformation.java._trace
/.ViatraDebugTransformation.xtendbin
/.ViatraTraceCodeTransformation.java._trace
/.ViatraTraceCodeTransformation.xtendbin
/.ViatraTraceExecutorTransformation.java._trace
/.ViatraTraceExecutorTransformation.xtendbin
/.ViatraViewersDebugTransformation.java._trace
/.ViatraViewersDebugTransformation.xtendbin
/BaseTransformation.java
/ViatraConditionalDebugTransformation.java
/ViatraDebugTransformation.java
/ViatraTraceCodeTransformation.java
/ViatraTraceExecutorTransformation.java
/ViatraViewersDebugTransformation.java
