<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.core.service">
      <service
            classname="service.InitializeValidationService"
            priority="1"
            startKind="startup">
         <dependsOn
               serviceKeyRef="org.eclipse.papyrus.infra.core.editor.IMultiDiagramEditor"></dependsOn>
         <dependsOn
               serviceKeyRef="org.eclipse.papyrus.infra.core.resource.ModelSet">
         </dependsOn>
      </service>
   </extension>

</plugin>
