<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.viatra.query.tooling.ui"
            class="org.eclipse.viatra.query.tooling.ui.browser.QueryLanguageExecutableExtensionFactory:org.eclipse.viatra.query.tooling.ui.queryregistry.QueryRegistryView"
            icon="platform:/plugin/org.eclipse.viatra.query.tooling.ui/icons/logo2.png"
            id="org.eclipse.viatra.query.tooling.ui.queryregistry.QueryRegistryView"
            name="Query Registry">
      </view>
      <view
            category="org.eclipse.viatra.query.tooling.ui"
            class="org.eclipse.viatra.query.tooling.ui.browser.QueryLanguageExecutableExtensionFactory:org.eclipse.viatra.query.tooling.ui.queryresult.QueryResultView"
            icon="platform:/plugin/org.eclipse.viatra.query.tooling.ui/icons/logo2.png"
            id="org.eclipse.viatra.query.tooling.ui.queryresult.QueryResultView"
            name="Query Results">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.viatra.query.tooling.ui.TransformationDevPerspective">
         <view
               id="org.eclipse.viatra.query.tooling.ui.queryregistry.QueryRegistryView"
               minimized="false"
               relationship="stack"
               relative="left">
         </view>
         <view
               id="org.eclipse.viatra.query.tooling.ui.queryresult.QueryResultView"
               minimized="false"
               relationship="stack"
               relative="right">
         </view>
         <viewShortcut
               id="org.eclipse.viatra.query.tooling.ui.queryregistry.QueryRegistryView">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.viatra.query.tooling.ui.queryresult.QueryResultView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.viatra.query.tooling.ui.queryregistry.handlers.ResetViewHandler"
            commandId="org.eclipse.viatra.query.tooling.ui.registry.reset">
      </handler>
      <handler
            class="org.eclipse.viatra.query.tooling.ui.browser.QueryLanguageExecutableExtensionFactory:org.eclipse.viatra.query.tooling.ui.queryregistry.handlers.ShowLocationHandler"
            commandId="org.eclipse.viatra.query.tooling.ui.showlocation">
         <activeWhen>
            <reference
                  definitionId="org.eclipse.viatra.query.tooling.ui.browser.selection.registryentry">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.viatra.query.tooling.ui.browser.QueryLanguageExecutableExtensionFactory:org.eclipse.viatra.query.tooling.ui.queryresult.handlers.LoadResourceSetHandler"
            commandId="org.eclipse.viatra.query.tooling.ui.result.loadmodel">
         <enabledWhen>
           <reference
                 definitionId="org.eclipse.viatra.query.tooling.ui.activedomaineditor">
           </reference>
         </enabledWhen>
         <activeWhen>
            <not>
               <reference
                     definitionId="org.eclipse.viatra.query.tooling.ui.activepatterneditor">
               </reference>
            </not>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.viatra.query.tooling.ui.browser.QueryLanguageExecutableExtensionFactory:org.eclipse.viatra.query.tooling.ui.queryresult.handlers.LoadVqlPatternHandler"
            commandId="org.eclipse.viatra.query.tooling.ui.result.loadvqlqueries">
         <activeWhen>
            <reference
                 definitionId="org.eclipse.viatra.query.tooling.ui.activepatterneditor">
            </reference>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeEditor">
               <test
                     property="org.eclipse.viatra.query.tooling.ui.browser.result.activeengine">
               </test>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.viatra.query.tooling.ui.browser.QueryLanguageExecutableExtensionFactory:org.eclipse.viatra.query.tooling.ui.queryresult.handlers.LoadQueriesHandler"
            commandId="org.eclipse.viatra.query.tooling.ui.result.loadqueries">
         <activeWhen>
            <reference
              definitionId="org.eclipse.viatra.query.tooling.ui.browser.selection.registrycontent">
            </reference>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activePart">
               <test
                     property="org.eclipse.viatra.query.tooling.ui.browser.result.activeengine">
               </test>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.viatra.query.tooling.ui.browser.QueryLanguageExecutableExtensionFactory:org.eclipse.viatra.query.tooling.ui.queryresult.handlers.UnloadModelHandler"
            commandId="org.eclipse.viatra.query.tooling.ui.result.unloadmodel">
         <enabledWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="org.eclipse.viatra.query.tooling.ui.queryresult.QueryResultView">
               </instanceof>
               <test
                     property="org.eclipse.viatra.query.tooling.ui.browser.result.activeengine">
               </test>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.viatra.query.tooling.ui.browser.QueryLanguageExecutableExtensionFactory:org.eclipse.viatra.query.tooling.ui.queryresult.handlers.WipeEngineHandler"
            commandId="org.eclipse.viatra.query.tooling.ui.result.wipeengine">
         <enabledWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="org.eclipse.viatra.query.tooling.ui.queryresult.QueryResultView">
               </instanceof>
               <test
                     property="org.eclipse.viatra.query.tooling.ui.browser.result.activeengine">
               </test>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.viatra.query.tooling.ui.browser.QueryLanguageExecutableExtensionFactory:org.eclipse.viatra.query.tooling.ui.queryregistry.handlers.ShowLocationHandler"
            commandId="org.eclipse.jdt.ui.edit.text.java.open.editor">
         <activeWhen>
            <reference
                  definitionId="org.eclipse.viatra.query.tooling.ui.browser.selection.registryentry">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.viatra.query.tooling.ui.browser.QueryLanguageExecutableExtensionFactory:org.eclipse.viatra.query.tooling.ui.queryresult.handlers.ShowMatcherLocationHandler"
            commandId="org.eclipse.viatra.query.tooling.ui.showlocation">
         <activeWhen>
            <reference
                  definitionId="org.eclipse.viatra.query.tooling.ui.browser.selection.resultmatcher">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.viatra.query.tooling.ui.browser.QueryLanguageExecutableExtensionFactory:org.eclipse.viatra.query.tooling.ui.queryresult.handlers.ShowMatchLocationHandler"
            commandId="org.eclipse.viatra.query.tooling.ui.showlocation">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false">
                  <or>
                     <instanceof
                           value="org.eclipse.emf.ecore.EObject">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.viatra.query.runtime.api.IPatternMatch">
                     </instanceof>
                  </or>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.viatra.query.tooling.ui.browser.QueryLanguageExecutableExtensionFactory:org.eclipse.viatra.query.tooling.ui.queryresult.handlers.RemoveQueryHandler"
            commandId="org.eclipse.viatra.query.tooling.ui.result.removequery">
         <activeWhen>
            <reference
                  definitionId="org.eclipse.viatra.query.tooling.ui.browser.selection.resultmatchers">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.viatra.query.tooling.ui.browser.QueryLanguageExecutableExtensionFactory:org.eclipse.viatra.query.tooling.ui.queryresult.handlers.OpenManagedEngineHandler"
            commandId="org.eclipse.viatra.query.tooling.ui.result.openmanaged">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.viatra.query.tooling.ui.queryregistry.QueryRegistryView">
         <command
               commandId="org.eclipse.viatra.query.tooling.ui.registry.reset"
               icon="platform:/plugin/org.eclipse.jdt.ui/icons/full/elcl16/refresh.png"
               label="Reset view"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.viatra.query.tooling.ui.queryregistry.QueryRegistryView">
         <command
               commandId="org.eclipse.viatra.query.tooling.ui.showlocation"
               icon="platform:/plugin/org.eclipse.ui.ide/icons/full/elcl16/gotoobj_tsk.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
               		 definitionId="org.eclipse.viatra.query.tooling.ui.browser.selection.registryentry">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.viatra.query.tooling.ui.result.loadqueries"
               icon="icons/load_query.png"
               id="org.eclipse.viatra.query.tooling.ui.result.loadqueriesmenu"
               label="Load into Query Results"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.viatra.query.tooling.ui.browser.selection.registrycontent">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.viatra.query.tooling.ui.queryresult.QueryResultView">
         <control
               class="org.eclipse.viatra.query.tooling.ui.queryresult.BackendSelectionControl">
         </control>
         <command
               commandId="org.eclipse.viatra.query.tooling.ui.result.loadmodel"
               icon="icons/load_model.png"
               id="org.eclipse.viatra.query.tooling.ui.result.loadmodelmenu"
               label="Load model from active editor"
               style="push">
         </command>
         <command
               commandId="org.eclipse.viatra.query.tooling.ui.result.loadvqlqueries"
               icon="icons/load_query.png"
               label="Load queries from active editor"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.navigate.collapseAll"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.viatra.query.tooling.ui.queryresult.QueryResultView">
         <command
               commandId="org.eclipse.viatra.query.tooling.ui.result.unloadmodel"
               icon="platform:/plugin/org.eclipse.ui/icons/full/elcl16/stop.png"
               label="Unload model"
               style="push">
         </command>
         <command
               commandId="org.eclipse.viatra.query.tooling.ui.result.wipeengine"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/delete_edit.png"
               label="Remove loaded queries"
               style="push">
         </command>
         <command
               commandId="org.eclipse.viatra.query.tooling.ui.result.openmanaged"
               icon="platform:/plugin/org.eclipse.viatra.query.tooling.ui/icons/logo2.png"
               label="Open managed engine"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.viatra.query.tooling.ui.queryregistry.QueryRegistryView">
         <command
               commandId="org.eclipse.ui.navigate.collapseAll"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.viatra.query.tooling.ui.queryresult.QueryResultView">
         <command
               commandId="org.eclipse.viatra.query.tooling.ui.showlocation"
               icon="platform:/plugin/org.eclipse.ui.ide/icons/full/elcl16/gotoobj_tsk.png"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.viatra.query.tooling.ui.browser.selection.resultcontent">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.viatra.query.tooling.ui.result.removequery"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/delete_edit.png"
               label="Remove query"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.viatra.query.tooling.ui.browser.selection.resultmatchers">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.viatra.query.tooling.category"
            id="org.eclipse.viatra.query.tooling.ui.registry.reset"
            name="Reset view">
      </command>
      <command
            categoryId="org.eclipse.viatra.query.tooling.category"
            id="org.eclipse.viatra.query.tooling.ui.result.loadmodel"
            name="Load model from active editor">
      </command>
      <command
            categoryId="org.eclipse.viatra.query.tooling.category"
            id="org.eclipse.viatra.query.tooling.ui.result.openmanaged"
            name="Open managed engine">
      </command>
      <command
            categoryId="org.eclipse.viatra.query.tooling.category"
            id="org.eclipse.viatra.query.tooling.ui.result.loadvqlqueries"
            name="Load queries from active editor">
      </command>
      <command
            categoryId="org.eclipse.viatra.query.tooling.category"
            id="org.eclipse.viatra.query.tooling.ui.result.loadqueries"
            name="Load into Query Results">
      </command>
      <command
            categoryId="org.eclipse.viatra.query.tooling.category"
            id="org.eclipse.viatra.query.tooling.ui.result.unloadmodel"
            name="Unload model">
      </command>
      <command
            categoryId="org.eclipse.viatra.query.tooling.category"
            id="org.eclipse.viatra.query.tooling.ui.result.wipeengine"
            name="Remove loaded queries">
      </command>
      <command
            categoryId="org.eclipse.viatra.query.tooling.category"
            id="org.eclipse.viatra.query.tooling.ui.result.removequery"
            name="Remove query">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.viatra.query.tooling.ui.queryregistry.QueryRegistryView">
         <propertyCategory
               category="org.eclipse.viatra.query.tooling.ui.propertiesCategory">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.viatra.query.tooling.ui.queryresult.QueryResultView"
            tabDescriptorProvider="org.eclipse.viatra.query.tooling.ui.queryresult.properties.QueryResultTreeTabDescriptorProvider">
         <propertyCategory
               category="org.eclipse.viatra.query.tooling.ui.result.propertiesCategory">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.viatra.query.tooling.ui.queryregistry.QueryRegistryView">
         <propertyTab
               category="org.eclipse.viatra.query.tooling.ui.propertiesCategory"
               id="org.eclipse.viatra.query.tooling.ui.properties.specification"
               label="Query">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.viatra.query.tooling.ui.properties.specification"
               category="org.eclipse.viatra.query.tooling.ui.propertiesCategory"
               id="org.eclipse.viatra.query.tooling.ui.properties.specification.advanced"
               indented="true"
               label="Advanced">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.viatra.query.tooling.ui.queryregistry.QueryRegistryView">
         <propertySection
               class="org.eclipse.viatra.query.tooling.ui.queryregistry.properties.QuerySpecificationPropertySection"
               enablesFor="1"
               id="org.eclipse.viatra.query.tooling.ui.properties.specification.section"
               tab="org.eclipse.viatra.query.tooling.ui.properties.specification">
            <input
                  type="org.eclipse.viatra.query.tooling.ui.queryregistry.QueryRegistryTreeEntry">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.ui.views.properties.tabbed.AdvancedPropertySection"
               enablesFor="1"
               id="org.eclipse.ui.views.properties.tabbed.AdvancedPropertySection"
               tab="org.eclipse.viatra.query.tooling.ui.properties.specification.advanced">
            <input
                  type="org.eclipse.viatra.query.tooling.ui.queryregistry.QueryRegistryTreeEntry">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.viatra.query.tooling.ui.queryregistry.QueryRegistryTreeEntry"
            class="org.eclipse.viatra.query.tooling.ui.browser.QueryBrowserAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.viatra.query.runtime.registry.IQuerySpecificationRegistryEntry"
            class="org.eclipse.viatra.query.tooling.ui.browser.QueryBrowserAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.viatra.query.tooling.ui.queryresult.QueryResultTreeMatcher"
            class="org.eclipse.viatra.query.tooling.ui.browser.QueryBrowserAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.viatra.query.runtime.api.IPatternMatch"
            class="org.eclipse.viatra.query.tooling.ui.browser.QueryBrowserAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.emf.ecore.EObject"
            class="org.eclipse.viatra.query.tooling.ui.browser.QueryBrowserAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.viatra.query.tooling.ui.browser.selection.registryentry">
        <with
           variable="selection">
        <and>
              <count
                    value="1">
              </count>
              <iterate>
                 <instanceof
                       value="org.eclipse.viatra.query.tooling.ui.queryregistry.QueryRegistryTreeEntry">
                 </instanceof>
              </iterate>
           </and>
        </with>
      </definition>
      <definition
            id="org.eclipse.viatra.query.tooling.ui.browser.selection.registrycontent">
        <with
              variable="selection">
           <iterate
                 ifEmpty="false">
              <or>
                 <instanceof
                       value="org.eclipse.viatra.query.tooling.ui.queryregistry.QueryRegistryTreeSource">
                 </instanceof>
                 <instanceof
                       value="org.eclipse.viatra.query.tooling.ui.queryregistry.QueryRegistryTreePackage">
                 </instanceof>
                 <instanceof
                       value="org.eclipse.viatra.query.tooling.ui.queryregistry.QueryRegistryTreeEntry">
                 </instanceof>
              </or>
           </iterate>
        </with>
      </definition>
      <definition
            id="org.eclipse.viatra.query.tooling.ui.browser.selection.resultcontent">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <or>
                  <instanceof
                        value="org.eclipse.emf.ecore.EObject">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.viatra.query.tooling.ui.queryresult.QueryResultTreeMatcher">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.viatra.query.runtime.api.IPatternMatch">
                  </instanceof>
               </or>
            </iterate>
         </with>
      </definition>
      <definition
            id="org.eclipse.viatra.query.tooling.ui.browser.selection.resultmatcher">
         <with
               variable="selection">
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <instanceof
                        value="org.eclipse.viatra.query.tooling.ui.queryresult.QueryResultTreeMatcher">
                  </instanceof>
               </iterate>
            </and>
         </with>
      </definition>
      <definition
            id="org.eclipse.viatra.query.tooling.ui.browser.selection.resultmatchers">
         <with
               variable="selection">
            <and>
               <iterate>
                  <instanceof
                        value="org.eclipse.viatra.query.tooling.ui.queryresult.QueryResultTreeMatcher">
                  </instanceof>
               </iterate>
            </and>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.viatra.query.tooling.ui.queryresult.internal.ActiveEnginePropertyTester"
            id="org.eclipse.viatra.query.tooling.ui.browser.result"
            namespace="org.eclipse.viatra.query.tooling.ui.browser.result"
            properties="activeengine"
            type="java.lang.Object">
      </propertyTester>
   </extension>
</plugin>
