<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ViatraQueryXcore -->
      <package
            uri="http://www.eclipse.org/viatra/query/patternlanguage/ViatraQueryXcoreLanguage"
            class="org.eclipse.viatra.integration.xcore.model.XcorePackage"
            genModel="model/ViatraQueryXcore.genmodel"/>
   </extension>
</plugin>
