<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="org.incquery.uml.demo.ValidationRules" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:org.incquery.uml.demo.ValidationRules" id="org.incquery.uml.demo.ValidationRules"/>
  </extension>
</plugin>
