<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.system.queries.UndefinedServiceTasks" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="system.queries.UndefinedServiceTasksConstraint0" name="system.queries.UndefinedServiceTasks">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.IncorrectEntryInChecklist" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.IncorrectEntryInChecklistConstraint0" name="operation.queries.IncorrectEntryInChecklist">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.TaskChecklistEntryJobCorrespondence" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.TaskChecklistEntryJobCorrespondenceConstraint0" name="operation.queries.TaskChecklistEntryJobCorrespondence">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.DataReadByChecklistEntry" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.DataReadByChecklistEntryConstraint0" name="operation.queries.DataReadByChecklistEntry">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.system.queries.UndefinedServiceTasks" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="system.queries.UndefinedServiceTasksConstraint0" name="system.queries.UndefinedServiceTasks">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.IncorrectEntryInChecklist" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.IncorrectEntryInChecklistConstraint0" name="operation.queries.IncorrectEntryInChecklist">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.TaskChecklistEntryJobCorrespondence" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.TaskChecklistEntryJobCorrespondenceConstraint0" name="operation.queries.TaskChecklistEntryJobCorrespondence">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.DataReadByChecklistEntry" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.DataReadByChecklistEntryConstraint0" name="operation.queries.DataReadByChecklistEntry">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.system.queries.UndefinedServiceTasks" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="system.queries.UndefinedServiceTasksConstraint0" name="system.queries.UndefinedServiceTasks">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.IncorrectEntryInChecklist" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.IncorrectEntryInChecklistConstraint0" name="operation.queries.IncorrectEntryInChecklist">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.TaskChecklistEntryJobCorrespondence" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.TaskChecklistEntryJobCorrespondenceConstraint0" name="operation.queries.TaskChecklistEntryJobCorrespondence">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.DataReadByChecklistEntry" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.DataReadByChecklistEntryConstraint0" name="operation.queries.DataReadByChecklistEntry">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.system.queries.UndefinedServiceTasks" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="system.queries.UndefinedServiceTasksConstraint0" name="system.queries.UndefinedServiceTasks">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.IncorrectEntryInChecklist" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.IncorrectEntryInChecklistConstraint0" name="operation.queries.IncorrectEntryInChecklist">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.TaskChecklistEntryJobCorrespondence" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.TaskChecklistEntryJobCorrespondenceConstraint0" name="operation.queries.TaskChecklistEntryJobCorrespondence">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.DataReadByChecklistEntry" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.DataReadByChecklistEntryConstraint0" name="operation.queries.DataReadByChecklistEntry">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.IncorrectEntryInChecklist" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.IncorrectEntryInChecklistConstraint0" name="operation.queries.IncorrectEntryInChecklist">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.TaskChecklistEntryJobCorrespondence" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.TaskChecklistEntryJobCorrespondenceConstraint0" name="operation.queries.TaskChecklistEntryJobCorrespondence">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.DataReadByChecklistEntry" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.DataReadByChecklistEntryConstraint0" name="operation.queries.DataReadByChecklistEntry">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.system.queries.UndefinedServiceTasks" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="system.queries.UndefinedServiceTasksConstraint0" name="system.queries.UndefinedServiceTasks">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.system.queries.UndefinedServiceTasks" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="system.queries.UndefinedServiceTasksConstraint0" name="system.queries.UndefinedServiceTasks">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.IncorrectEntryInChecklist" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.IncorrectEntryInChecklistConstraint0" name="operation.queries.IncorrectEntryInChecklist">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.TaskChecklistEntryJobCorrespondence" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.TaskChecklistEntryJobCorrespondenceConstraint0" name="operation.queries.TaskChecklistEntryJobCorrespondence">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.DataReadByChecklistEntry" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.DataReadByChecklistEntryConstraint0" name="operation.queries.DataReadByChecklistEntry">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.system.queries.UndefinedServiceTasks" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="system.queries.UndefinedServiceTasksConstraint0" name="system.queries.UndefinedServiceTasks">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.IncorrectEntryInChecklist" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.IncorrectEntryInChecklistConstraint0" name="operation.queries.IncorrectEntryInChecklist">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.TaskChecklistEntryJobCorrespondence" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.TaskChecklistEntryJobCorrespondenceConstraint0" name="operation.queries.TaskChecklistEntryJobCorrespondence">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.DataReadByChecklistEntry" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.DataReadByChecklistEntryConstraint0" name="operation.queries.DataReadByChecklistEntry">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.system.queries.UndefinedServiceTasks" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="system.queries.UndefinedServiceTasksConstraint0" name="system.queries.UndefinedServiceTasks">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.IncorrectEntryInChecklist" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.IncorrectEntryInChecklistConstraint0" name="operation.queries.IncorrectEntryInChecklist">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.TaskChecklistEntryJobCorrespondence" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.TaskChecklistEntryJobCorrespondenceConstraint0" name="operation.queries.TaskChecklistEntryJobCorrespondence">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.DataReadByChecklistEntry" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.DataReadByChecklistEntryConstraint0" name="operation.queries.DataReadByChecklistEntry">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.system.queries.UndefinedServiceTasks" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="system.queries.UndefinedServiceTasksConstraint0" name="system.queries.UndefinedServiceTasks">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.IncorrectEntryInChecklist" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.IncorrectEntryInChecklistConstraint0" name="operation.queries.IncorrectEntryInChecklist">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.TaskChecklistEntryJobCorrespondence" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.TaskChecklistEntryJobCorrespondenceConstraint0" name="operation.queries.TaskChecklistEntryJobCorrespondence">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.DataReadByChecklistEntry" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.DataReadByChecklistEntryConstraint0" name="operation.queries.DataReadByChecklistEntry">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.system.queries.UndefinedServiceTasks" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="system.queries.UndefinedServiceTasksConstraint0" name="system.queries.UndefinedServiceTasks">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.IncorrectEntryInChecklist" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.IncorrectEntryInChecklistConstraint0" name="operation.queries.IncorrectEntryInChecklist">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.TaskChecklistEntryJobCorrespondence" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.TaskChecklistEntryJobCorrespondenceConstraint0" name="operation.queries.TaskChecklistEntryJobCorrespondence">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.DataReadByChecklistEntry" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.DataReadByChecklistEntryConstraint0" name="operation.queries.DataReadByChecklistEntry">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.system.queries.UndefinedServiceTasks" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="system.queries.UndefinedServiceTasksConstraint0" name="system.queries.UndefinedServiceTasks">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.IncorrectEntryInChecklist" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.IncorrectEntryInChecklistConstraint0" name="operation.queries.IncorrectEntryInChecklist">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.TaskChecklistEntryJobCorrespondence" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.TaskChecklistEntryJobCorrespondenceConstraint0" name="operation.queries.TaskChecklistEntryJobCorrespondence">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="org.eclipse.incquery.examples.bpm.incquery.validation.validation.constraint.operation.queries.DataReadByChecklistEntry" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.DataReadByChecklistEntryConstraint0" name="operation.queries.DataReadByChecklistEntry">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="validation.constraint.operation.queries.IncorrectEntryInChecklist" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.IncorrectEntryInChecklistConstraint0" name="operation.queries.IncorrectEntryInChecklist">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="validation.constraint.operation.queries.TaskChecklistEntryJobCorrespondence" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.TaskChecklistEntryJobCorrespondenceConstraint0" name="operation.queries.TaskChecklistEntryJobCorrespondence">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="validation.constraint.operation.queries.DataReadByChecklistEntry" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="operation.queries.DataReadByChecklistEntryConstraint0" name="operation.queries.DataReadByChecklistEntry">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
  <extension id="validation.constraint.system.queries.UndefinedServiceTasks" point="org.eclipse.incquery.validation.runtime.constraint">
    <constraint class="system.queries.UndefinedServiceTasksConstraint0" name="system.queries.UndefinedServiceTasks">
      <enabledForEditor editorId="process.presentation.ProcessEditorID"/>
      <enabledForEditor editorId="system.presentation.SystemEditorID"/>
      <enabledForEditor editorId="operation.presentation.OperationEditorID"/>
      <enabledForEditor editorId="org.eclipse.emf.ecore.presentation.EcoreEditorID"/>
    </constraint>
  </extension>
</plugin>
