/._AnonymousPattern_1.java._trace
/._AnonymousPattern_2.java._trace
/._AnonymousPattern_3.java._trace
/._AnonymousPattern_4.java._trace
/._AnonymousPattern_5.java._trace
/_AnonymousPattern_1.java
/_AnonymousPattern_2.java
