<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated library -->
      <package
            uri="http:///org/incquery/examples/library/1.0"
            class="org.eclipse.incquery.examples.eiqlibrary.EIQLibraryPackage"
            genModel="model/library.genmodel"/>
   </extension>

</plugin>
