<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.viatra.query.application.app.generic"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.viatra.query.application.generic.GenericEclipseViatraQueryApplication">
         </run>
      </application>
   </extension>
   <extension
         id="org.eclipse.viatra.query.application.app.patternspecific"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.viatra.query.application.patternspecific.PatternSpecificEclipseViatraQueryApplication">
         </run>
      </application>
   </extension>
   <extension
         id="viatra.query.generic"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.viatra.query.application.app.generic"
            name="Generic VIATRA Query Application">
         <property
               name="appName"
               value="Generic VIATRA Query Application">
         </property>
      </product>
   </extension>
   <extension
         id="viatra.query.specific"
         point="org.eclipse.core.runtime.products">
   	<product
            application="org.eclipse.viatra.query.application.app.patternspecific"
            name="PatternSpecific VIATRA Query Application">
         <property
               name="appName"
               value="PatternSpecific VIATRA Query Application">
         </property>
      </product>
	</extension>
   
</plugin>
