<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
     <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="org.eclipse.viatra.query.testing.ui.snapshot"
               label="Save VIATRA Query snapshot"
               style="push">
            <visibleWhen
                  checkEnabled="false">
                  <or>
                    <reference
                       definitionId="org.eclipse.viatra.query.tooling.ui.matcher">
                    </reference>
                    <reference
                       definitionId="org.eclipse.viatra.query.tooling.ui.root">
                    </reference>
                    <reference
                          definitionId="org.eclipse.viatra.query.tooling.ui.filteredmatchercontent">
                    </reference>
                  </or>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.viatra.query.testing.ui.ViatraQueryLanguageTestExecutableExtensionFactory:org.eclipse.viatra.query.testing.ui.handlers.SaveSnapshotHandler"
            commandId="org.eclipse.viatra.query.testing.ui.snapshot">
      </handler>  
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.viatra.query.tooling.category"
            id="org.eclipse.viatra.query.testing.ui.snapshot"
            name="Save VIATRA Query snapshot">
      </command>
    </extension>
</plugin>
