<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
     <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="org.eclipse.viatra.query.testing.ui.snapshot"
               label="Save VIATRA Query snapshot"
               style="push">
            <visibleWhen
                  checkEnabled="false">
                  <or>
                    <reference
                          definitionId="org.eclipse.viatra.query.tooling.ui.filteredmatchercontent">
                    </reference>
                  </or>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.viatra.query.testing.ui.ViatraQueryLanguageTestExecutableExtensionFactory:org.eclipse.viatra.query.testing.ui.handlers.SaveSnapshotHandler"
            commandId="org.eclipse.viatra.query.testing.ui.snapshot">
      </handler>  
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.viatra.query.tooling.category"
            id="org.eclipse.viatra.query.testing.ui.snapshot"
            name="Save VIATRA Query snapshot">
      </command>
    </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.emf.ecore.presentation.EcoreEditor"
            contributorClass="org.eclipse.emf.ecore.presentation.EcoreActionBarContributor$Reflective"
            extensions="snapshot"
            icon="platform:/plugin/org.eclipse.emf.edit/icons/full/obj16/ModelFile.gif"
            id="org.eclipse.viatra.query.testing.snapshot.presentation.SnapshotEditorID"
            name="VIATRA Query Snapshot">
         <contentTypeBinding
               contentTypeId="org.eclipse.emf.ecore.xmi">
         </contentTypeBinding>
      </editor>
   </extension>
      <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.viatra.query.tooling.ui.category"
            class="org.eclipse.viatra.query.testing.ui.wizards.SnapshotModelWizard"
            icon="platform:/plugin/org.eclipse.viatra.query.tooling.ui/icons/logo2.png"
            id="org.eclipse.viatra.query.testing.snapshot.presentation.SnapshotModelWizardID"
            name="Query Snapshot">
         <description>
            %_UI_SnapshotModelWizard_description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
</plugin>
