Zoltan Ujhelyi <ujhelyiz@incquerylabs.com> <ujhelyiz@mit.bme.hu>
Istvan Rath <istvanrath@incquerylabs.com> <rath@mit.bme.hu>
Gabor Bergmann <bergmann@mit.bme.hu> <bergmann@mit.bme.hu>
Abel Hegedus <abel.hegedus@incquerylabs.com> <abel.hegedus@mit.bme.hu> <hegedusa@mit.bme.hu>
Tamas Szabo <tamas.szabo@itemis.de> <szabta89@gmail.com>
András Ökrös <okrosa@gmail.com>
