<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="extension.databinding.org.eclipse.incquery.examples.uml.queries.emptyClass"
         point="org.eclipse.incquery.databinding.runtime.databinding">
      <databinding
            message=""
            class="org.eclipse.incquery.examples.uml.queries.emptyclass.EmptyClassDatabindingAdapter"
            patternName="org.eclipse.incquery.examples.uml.queries.emptyClass"
            matcherFactoryClass="org.eclipse.incquery.examples.uml.queries.emptyclass.EmptyClassMatcherFactory">
      </databinding>
   </extension>

</plugin>
