/.ClassesInPackageHierarchyMatch.java._trace
/.ClassesInPackageHierarchyMatcher.java._trace
/.ClassesInPackageMatch.java._trace
/.ClassesInPackageMatcher.java._trace
/.EClassMatch.java._trace
/.EClassMatcher.java._trace
/.EClassNamesKeywordMatch.java._trace
/.EClassNamesKeywordMatcher.java._trace
/.EClassNamesMatch.java._trace
/.EClassNamesMatcher.java._trace
/.EObjectMatch.java._trace
/.EObjectMatcher.java._trace
/.EPackageMatch.java._trace
/.EPackageMatcher.java._trace
/.HeadlessQueries.java._trace
/.SubPackageMatch.java._trace
/.SubPackageMatcher.java._trace
