<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension-point id="annotation" name="Pattern Annotation" schema="schema/annotation.exsd"/>
   <extension-point id="purewhitelist" name="VIATRA Query @Pure Whitelist extension" schema="schema/purewhitelist.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PatternLanguage -->
      <package
            uri="http://www.eclipse.org/viatra/query/patternlanguage/emf/PatternLanguage"
            class="org.eclipse.viatra.query.patternlanguage.emf.vql.PatternLanguagePackage"
            genModel="model/PatternLanguage.genmodel"/>
   </extension>
<extension
        point="org.eclipse.viatra.query.runtime.base.wellbehaving.derived.features">
     <wellbehaving-derived-feature
           classifier-name="PatternBody"
           feature-name="variables"
           package-nsUri="http://www.eclipse.org/viatra/query/patternlanguage/PatternLanguage">
     </wellbehaving-derived-feature>
     <wellbehaving-derived-feature
           classifier-name="Variable"
           feature-name="references"
           package-nsUri="http://www.eclipse.org/viatra/query/patternlanguage/PatternLanguage">
     </wellbehaving-derived-feature>
     <wellbehaving-derived-feature
           classifier-name="VariableReference"
           feature-name="variable"
           package-nsUri="http://www.eclipse.org/viatra/query/patternlanguage/PatternLanguage">
     </wellbehaving-derived-feature>
  </extension>
  <extension
        point="org.eclipse.viatra.query.patternlanguage.emf.purewhitelist">
     <whitelist-extension
           provider="org.eclipse.viatra.query.patternlanguage.emf.validation.whitelist.extensions.IntegerWhitelistProvider">
     </whitelist-extension>
     <whitelist-extension
           provider="org.eclipse.viatra.query.patternlanguage.emf.validation.whitelist.extensions.MathWhitelistProvider">
     </whitelist-extension>
     <whitelist-extension
           provider="org.eclipse.viatra.query.patternlanguage.emf.validation.whitelist.extensions.StringWhilelistProvider">
     </whitelist-extension>
     <whitelist-extension
           provider="org.eclipse.viatra.query.patternlanguage.emf.validation.whitelist.extensions.OtherLibraryWhitelistProvider">
     </whitelist-extension>
  </extension>
  <extension
        point="org.eclipse.viatra.query.patternlanguage.emf.annotation">
     <annotation
           description="This annotation is used to record domain-specific knowledge about a functional dependency among matches of this pattern. For a given value combination of the &apos;forEach&apos; parameters, at most one value of each &apos;unique&apos; parameter may occur in the match set."
           name="FunctionalDependency">
        <annotationparameter
              description="The name of a query parameter on the left-hand side of the dependency."
              mandatory="false"
              multiple="true"
              name="forEach"
              type="variablereference">
        </annotationparameter>
        <annotationparameter
              description="The name of a query parameter on the right-hand side of the dependency."
              mandatory="false"
              multiple="true"
              name="unique"
              type="variablereference">
        </annotationparameter>
     </annotation>
  </extension>
</plugin>
