/.MWE2BaseTransformation.java._trace
/.MWE2BaseTransformation.xtendbin
/.MWE2ViatraConditionalDebugTransformation.java._trace
/.MWE2ViatraConditionalDebugTransformation.xtendbin
/.MWE2ViatraDebugTransformation.java._trace
/.MWE2ViatraDebugTransformation.xtendbin
/.MWE2ViatraTraceCodeTransformation.java._trace
/.MWE2ViatraTraceCodeTransformation.xtendbin
/.MWE2ViatraTraceExecutorTransformation.java._trace
/.MWE2ViatraTraceExecutorTransformation.xtendbin
/MWE2BaseTransformation.java
/MWE2ViatraConditionalDebugTransformation.java
/MWE2ViatraDebugTransformation.java
/MWE2ViatraTraceCodeTransformation.java
/MWE2ViatraTraceExecutorTransformation.java
