<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated emfdesignspace -->
      <package
            uri="http://eclipse.org/viatra/emf/dse/designspace"
            class="org.eclipse.viatra.dse.emf.designspace.EMFDesignSpacePackage"
            genModel="model/emfdesignspace.genmodel"/>
   </extension>

</plugin>
