<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.viatra.query.tooling.ui"
            class="org.eclipse.viatra.query.tooling.localsearch.ui.debugger.views.LocalSearchDebugView"
            icon="icons/logo2.png"
            id="org.eclipse.viatra.query.tooling.localsearch.ui.LocalSearchDebugView"
            name="Local Search Debugger"
            restorable="true">
      </view>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.viatra.query.tooling.localsearch.ui.debugger.localsearch.start"
            name="Start local search">
      </command>
      <command
            id="org.eclipse.viatra.query.tooling.localsearch.ui.debugger.localsearch.step"
            name="Step local search">
      </command>
      <command
            id="org.eclipse.viatra.query.tooling.localsearch.ui.debugger.localsearch.run"
            name="Run local search">
      </command>
      <command
            id="org.eclipse.viatra.query.tooling.localsearch.ui.debugger.localsearch.placebreakpoint"
            name="Place/remove breakpoint">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.viatra.query.tooling.localsearch.ui.debugger.handlers.StartLocalSearchHandler"
            commandId="org.eclipse.viatra.query.tooling.localsearch.ui.debugger.localsearch.start">
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate>
                  <instanceof
                        value="org.eclipse.viatra.query.tooling.ui.queryexplorer.content.matcher.PatternMatcherContent">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.viatra.query.tooling.localsearch.ui.debugger.handlers.StepLocalSearchHandler"
            commandId="org.eclipse.viatra.query.tooling.localsearch.ui.debugger.localsearch.step">
         <enabledWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="org.eclipse.viatra.query.tooling.localsearch.ui.debugger.views.LocalSearchDebugView">
               </instanceof>
               <test
                     property="org.eclipse.viatra.query.tooling.localsearch.ui.debugger.operational">
               </test>
            </with>
         </enabledWhen>
      </handler>      
      <handler
            class="org.eclipse.viatra.query.tooling.localsearch.ui.debugger.handlers.RunLocalSearchHandler"
            commandId="org.eclipse.viatra.query.tooling.localsearch.ui.debugger.localsearch.run">
         <enabledWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="org.eclipse.viatra.query.tooling.localsearch.ui.debugger.views.LocalSearchDebugView">
               </instanceof>
               <test
                     property="org.eclipse.viatra.query.tooling.localsearch.ui.debugger.operational">
               </test>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.viatra.query.tooling.localsearch.ui.debugger.handlers.CreateBreakPointHandler"
            commandId="org.eclipse.viatra.query.tooling.localsearch.ui.debugger.localsearch.placebreakpoint">
         <enabledWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="org.eclipse.viatra.query.tooling.localsearch.ui.debugger.views.LocalSearchDebugView">
               </instanceof>
               <test
                     property="org.eclipse.viatra.query.tooling.localsearch.ui.debugger.operational">
               </test>
            </with>
         </enabledWhen>
      </handler>
 </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.viatra.query.tooling.localsearch.ui.LocalSearchDebugView">
         <command
               commandId="org.eclipse.viatra.query.tooling.localsearch.ui.debugger.localsearch.start"
               icon="icons/lrun_obj.gif"
               label="Start local search"
               style="push">
         </command>
         <command
               commandId="org.eclipse.viatra.query.tooling.localsearch.ui.debugger.localsearch.run"
               icon="icons/resume_co.gif"
               label="Run local search"
               style="push">
         </command>
         <command
               commandId="org.eclipse.viatra.query.tooling.localsearch.ui.debugger.localsearch.step"
               icon="icons/stepinto_co.gif"
               label="Step local search"
               style="push">
         </command>
         <command
               commandId="org.eclipse.viatra.query.tooling.localsearch.ui.debugger.localsearch.placebreakpoint"
               icon="icons/debug_exc.gif"
               label="Place/remove breakpoint"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.viatra.query.tooling.localsearch.ui.debugger.localsearch.step"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F7">
      </key>
      <key
            commandId="org.eclipse.viatra.query.tooling.localsearch.ui.debugger.localsearch.start"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F9">
      </key>
      <key
            commandId="org.eclipse.viatra.query.tooling.localsearch.ui.debugger.localsearch.run"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F8">
      </key>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.viatra.query.tooling.localsearch.ui.debugger.views.internal.LocalSearchDebuggerPropertyTester"
            id="org.eclipse.viatra.query.tooling.localsearch.ui.debugger"
            namespace="org.eclipse.viatra.query.tooling.localsearch.ui.debugger"
            properties="operational"
            type="org.eclipse.viatra.query.tooling.localsearch.ui.debugger.views.LocalSearchDebugView">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.viatra.query.tooling.ui.TransformationDevPerspective">
         <viewShortcut
               id="org.eclipse.viatra.query.tooling.localsearch.ui.LocalSearchDebugView">
         </viewShortcut>
         <view
               id="org.eclipse.viatra.query.tooling.localsearch.ui.LocalSearchDebugView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
