<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/viatra/query/tooling/generator/model/IQGenModel" 
       class = "org.eclipse.viatra.query.tooling.generator.model.generatorModel.GeneratorModelPackage"
       genModel = "model/generated/GeneratorModel.genmodel" /> 
    
  </extension>




</plugin>
