<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/viatra/cep/vepl/Vepl" 
       class = "org.eclipse.viatra.cep.vepl.vepl.VeplPackage"
       genModel = "model/generated/Vepl.genmodel" /> 
	
  </extension>




</plugin>
