<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.viatra.query.tooling.category"
            id="org.eclipse.viatra.query.tooling.migrator.api.command"
            name="Migrate IncQuery API to VIATRA Queries">
      </command>
      <command
            categoryId="org.eclipse.viatra.query.tooling.category"
            id="org.eclipse.viatra.query.tooling.migrator.metadata.command"
            name="Add VIATRA Query Nature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="org.eclipse.viatra.query.tooling.migrator.metadata.command"
               icon="platform:/plugin/org.eclipse.viatra.query.tooling.ui/icons/logo2.png"
               label="Update Query Project"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <adapt
                           type="org.eclipse.core.resources.IProject">
                     <and>
                        <test
                              property="org.eclipse.core.resources.open"
                              value="true">
                        </test>
                        <test
                              property="org.eclipse.viatra.query.tooling.migrator.outdated">
                        </test>
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.eclipse.incquery.projectnature">
                        </test>
                     </and>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.viatra.query.tooling.migrator.metadata.command"
               icon="platform:/plugin/org.eclipse.viatra.query.tooling.ui/icons/logo2.png"
               label="Convert to VIATRA Query Project"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <adapt
                           type="org.eclipse.core.resources.IProject">
                     <and>
                        <test
                              property="org.eclipse.core.resources.open"
                              value="true">
                        </test>
                        <test
                              property="org.eclipse.viatra.query.tooling.migrator.outdated">
                        </test>
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.eclipse.incquery.projectnature">
                           </test>
                        </not>
                     </and>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.viatra.query.tooling.migrator.api.command"
               icon="platform:/plugin/org.eclipse.viatra.query.tooling.ui/icons/logo2.png"
               label="Replace EMF-IncQuery API Usage"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <and>
                        <test
                              property="org.eclipse.core.resources.open"
                              value="true">
                        </test>
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.eclipse.jdt.core.javanature">
                        </test>
                        <not>
                           <and>
                              <test
                                    property="org.eclipse.viatra.query.tooling.migrator.outdated">
                              </test>
                              <test
                                    property="org.eclipse.core.resources.projectNature"
                                    value="org.eclipse.viatra.query.projectnature">
                              </test>
                           </and>
                        </not>
                     </and>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.viatra.query.patternlanguage.emf.ui.ReusablePatternLanguageExecutableExtensionFactory:org.eclipse.viatra.migrator.metadata.ProjectNatureUpdater"
            commandId="org.eclipse.viatra.query.tooling.migrator.metadata.command">
      </handler>
      <handler
            class="org.eclipse.viatra.migrator.MigrateProjectHandler"
            commandId="org.eclipse.viatra.query.tooling.migrator.api.command">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.viatra.migrator.properties.QueryProjectVersionTester"
            id="org.eclipse.viatra.query.tooling.migrator.projectPropertyTester"
            namespace="org.eclipse.viatra.query.tooling.migrator"
            properties="outdated"
            type="org.eclipse.core.resources.IProject">
      </propertyTester>
   </extension>
</plugin>
