<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="VIATRA-201906" sequenceNumber="1492772502">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="de.itemis.xtext.antlr.feature.feature.group" version="2.1.1.v201405091103"/>
<repository location="http://download.itemis.com/updates/releases/2.1.1/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.20.0.v20191202-1256"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.20.0"/>
</location>
<location includeMode="planner" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
<unit id="com.google.inject" version="3.0.0.v201605172100"/>
<unit id="com.google.inject.source" version="3.0.0.v201605172100"/>
<unit id="com.google.inject.multibindings" version="3.0.0.v201605172100"/>
<unit id="com.google.inject.multibindings.source" version="3.0.0.v201605172100"/>
<unit id="org.junit" version="4.12.0.v201504281640"/>
<unit id="org.mockito" version="1.9.5.v201605172210"/>
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20190602212107/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.11.2.v20200224-0816"/>
<unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="2.11.2.v20200224-0816"/>
<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.11.2.v20200224-0816"/>
<repository location="http://download.eclipse.org/modeling/emft/mwe/updates/releases/2.11.2"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.license.feature.group" version="2.0.2.v20181016-2210"/>
<repository location="http://download.eclipse.org/cbi/updates/license/2.0.2.v20181016-2210"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.fx.runtime.min.feature.feature.group" version="3.5.0.201902220600"/>
<repository location="http://download.eclipse.org/efxclipse/updates-released/3.5.0/site"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.18.0.v20190528-1257"/>
<unit id="org.eclipse.jdt.feature.group" version="3.18.0.v20190605-1800"/>
<unit id="org.eclipse.pde.feature.group" version="3.14.0.v20190605-1800"/>
<unit id="org.eclipse.platform.feature.group" version="4.12.0.v20190605-1801"/>
<unit id="org.eclipse.platform.sdk" version="4.12.0.I20190605-1800"/>
<repository location="https://download.eclipse.org/eclipse/updates/4.12/R-4.12-201906051800/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.18.0.v20190528-0845" />
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.12.0.201805140824"/>
<unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.12.0.201805221301"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.12.1.201905141505"/>
<unit id="org.eclipse.graphiti.sdk.feature.feature.group" version="0.16.0.201906041401"/>
<unit id="org.eclipse.uml2.sdk.feature.group" version="5.5.0.v20181203-1331"/>
<repository location="https://download.eclipse.org/releases/2019-06/201906191000/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gef.graph.sdk.feature.group" version="5.1.0.201912130302"/>
<unit id="org.eclipse.gef.layout.sdk.feature.group" version="5.0.0.201912130302"/>
<unit id="org.eclipse.gef.zest.sdk.feature.group" version="5.1.1.201912130302"/>
<repository location="https://download.eclipse.org/tools/gef/updates/releases/5.3.0_gef-master_5721/" />
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
  <unit id="org.eclipse.collections.feature.feature.group" version="10.1.0.v20200211-1558"/>
  <repository location="http://download.eclipse.org/collections/10.2.0/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.viatra.examples.cps.metamodel.feature.feature.group" version="2.0.0.201801280931"/>
<repository location="http://download.eclipse.org/viatra/examples/cps/2.0.0.201801280453"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
  <unit id="org.eclipse.sirius.runtime.ide.ui.source.feature.group" version="6.0.1.201808231529"/>
  <unit id="org.eclipse.sirius.runtime.aql.source.feature.group" version="6.0.1.201808231529"/>
  <unit id="org.eclipse.sirius.properties.feature.source.feature.group" version="6.0.1.201808231529"/>
  <unit id="org.eclipse.sirius.runtime.ide.eef.source.feature.group" version="6.0.1.201808231529"/>
  <unit id="org.eclipse.sirius.runtime.ide.xtext.source.feature.group" version="6.0.1.201808231529"/>
  <repository location="http://download.eclipse.org/sirius/updates/releases/6.0.1/photon"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>