<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="VIATRA-Oxygen" sequenceNumber="1492772502">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="de.itemis.xtext.antlr.feature.feature.group" version="2.1.1.v201405091103"/>
<repository location="http://download.itemis.com/updates/releases/2.1.1/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.16.0.v20181203-1555"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.16.0"/>
</location>
<location includeMode="planner" includeAllPlatforms="false" includeSource="false" includeConfigurePhase="false" type="InstallableUnit">
<unit id="com.google.inject" version="3.0.0.v201605172100"/>
<unit id="com.google.inject.source" version="3.0.0.v201605172100"/>
<unit id="com.google.inject.multibindings" version="3.0.0.v201605172100"/>
<unit id="com.google.inject.multibindings.source" version="3.0.0.v201605172100"/>
<unit id="org.junit" version="4.12.0.v201504281640"/>
<unit id="org.mockito" version="1.9.5.v201605172210"/>
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20180330011457/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.11.0.v20150601-0402"/>
<repository location="http://download.eclipse.org/modeling/emf/emf/updates/2.11/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.9.1.201705291011"/>
<unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="2.9.1.201705291011"/>
<repository location="http://download.eclipse.org/modeling/emft/mwe/updates/releases/2.9.1"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.license.feature.group" version="1.0.1.v20140414-1359"/>
<repository location="http://download.eclipse.org/cbi/updates/license/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.uml2.sdk.feature.group" version="5.0.2.v20150202-0947"/>
<repository location="http://download.eclipse.org/modeling/mdt/uml2/updates/5.0/R201502020947//"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gef.graph.sdk.feature.group" version="5.0.0.201711130301"/>
<unit id="org.eclipse.gef.layout.sdk.feature.group" version="5.0.0.201711130301"/>
<unit id="org.eclipse.gef.zest.sdk.feature.group" version="5.0.2.201711130301"/>
<repository location="http://download.eclipse.org/tools/gef/updates/releases/5.0.2_gef-maintenance_164"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.fx.runtime.min.feature.feature.group" version="3.1.0.201712060601"/>
<repository location="http://download.eclipse.org/efxclipse/updates-released/3.1.0/site"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.13.4.v20180322-2228"/>
<unit id="org.eclipse.jdt.feature.group" version="3.13.4.v20180330-0919"/>
<unit id="org.eclipse.pde.feature.group" version="3.13.4.v20180330-0640"/>
<unit id="org.eclipse.platform.feature.group" version="4.7.3.v20180330-0640"/>
<unit id="org.eclipse.platform.sdk" version="4.7.3.M20180330-0640"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.7/R-4.7.3a-201803300640"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.11.0.201706061339"/>
<unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.11.0.201706061354"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.11.0.201706061437"/>
<unit id="org.eclipse.graphiti.sdk.feature.feature.group" version="0.14.0.201705161212"/>
<repository location="http://download.eclipse.org/releases/oxygen/201804111000"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
  <unit id="org.eclipse.collections.feature.feature.group" version="9.2.0.v20180518-1448"/>
  <repository location="http://download.eclipse.org/collections/9.2.0/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.viatra.examples.cps.metamodel.feature.feature.group" version="2.0.0.201801280931"/>
<repository location="http://download.eclipse.org/viatra/examples/cps/2.0.0.201801280453"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
  <unit id="org.eclipse.sirius.runtime.ide.ui.source.feature.group" version="6.0.1.201808231529"/>
  <unit id="org.eclipse.sirius.runtime.aql.source.feature.group" version="6.0.1.201808231529"/>
  <unit id="org.eclipse.sirius.properties.feature.source.feature.group" version="6.0.1.201808231529"/>
  <unit id="org.eclipse.sirius.runtime.ide.eef.source.feature.group" version="6.0.1.201808231529"/>
  <unit id="org.eclipse.sirius.runtime.ide.xtext.source.feature.group" version="6.0.1.201808231529"/>
  <repository location="http://download.eclipse.org/sirius/updates/releases/6.0.1/oxygen"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>