<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="org.eclipse.viatra.query.patternlanguage.metamodel.queries.MetamodelHelperQueries" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:org.eclipse.viatra.query.patternlanguage.metamodel.queries.MetamodelHelperQueries" id="org.eclipse.viatra.query.patternlanguage.metamodel.queries.MetamodelHelperQueries">
      <query-specification fqn="org.eclipse.viatra.query.patternlanguage.metamodel.queries.variableEClassifier"/>
      <query-specification fqn="org.eclipse.viatra.query.patternlanguage.metamodel.queries.variableJavaClassRef"/>
      <query-specification fqn="org.eclipse.viatra.query.patternlanguage.metamodel.queries.variableType"/>
      <query-specification fqn="org.eclipse.viatra.query.patternlanguage.metamodel.queries.parameterRefDeclaredTypeInferredType"/>
      <query-specification fqn="org.eclipse.viatra.query.patternlanguage.metamodel.queries.parameterRefDeclaredTypeInferredSimpleType"/>
      <query-specification fqn="org.eclipse.viatra.query.patternlanguage.metamodel.queries.commonDescendant"/>
      <query-specification fqn="org.eclipse.viatra.query.patternlanguage.metamodel.queries.superclassOrSelf"/>
      <query-specification fqn="org.eclipse.viatra.query.patternlanguage.metamodel.queries.superclass"/>
    </group>
  </extension>
  <extension id="org.eclipse.viatra.query.patternlanguage.metamodel.queries.ValidationQueries" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:org.eclipse.viatra.query.patternlanguage.metamodel.queries.ValidationQueries" id="org.eclipse.viatra.query.patternlanguage.metamodel.queries.ValidationQueries">
      <query-specification fqn="org.eclipse.viatra.query.patternlanguage.metamodel.queries.undefinedOrMultipleDeclarationParameterType"/>
      <query-specification fqn="org.eclipse.viatra.query.patternlanguage.metamodel.queries.undefinedPathExpressionType"/>
      <query-specification fqn="org.eclipse.viatra.query.patternlanguage.metamodel.queries.multipleReferencesPathExpressionType"/>
      <query-specification fqn="org.eclipse.viatra.query.patternlanguage.metamodel.queries.nonConformingType"/>
      <query-specification fqn="org.eclipse.viatra.query.patternlanguage.metamodel.queries.declaredTypeLessSpecific"/>
      <query-specification fqn="org.eclipse.viatra.query.patternlanguage.metamodel.queries.inferredTypeLessSpecific"/>
    </group>
  </extension>
</plugin>
