<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="com.incquerylabs.uml.text.generator.queries.Queries" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:com.incquerylabs.uml.text.generator.queries.Queries" id="com.incquerylabs.uml.text.generator.queries.Queries"/>
  </extension>
</plugin>
