<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="org.eclipse.incquery.examples.uml.evm.queries.possibleSuperClass"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.incquery.examples.uml.evm.queries.possiblesuperclass.PossibleSuperClassMatcherFactory$Provider"
            id="org.eclipse.incquery.examples.uml.evm.queries.possibleSuperClass">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.incquery.examples.uml.evm.queries.onlyInheritedOperations"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.incquery.examples.uml.evm.queries.onlyinheritedoperations.OnlyInheritedOperationsMatcherFactory$Provider"
            id="org.eclipse.incquery.examples.uml.evm.queries.onlyInheritedOperations">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.incquery.examples.uml.evm.queries.superClass"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.incquery.examples.uml.evm.queries.superclass.SuperClassMatcherFactory$Provider"
            id="org.eclipse.incquery.examples.uml.evm.queries.superClass">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.incquery.examples.uml.evm.queries.transitiveSuperClass"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.incquery.examples.uml.evm.queries.transitivesuperclass.TransitiveSuperClassMatcherFactory$Provider"
            id="org.eclipse.incquery.examples.uml.evm.queries.transitiveSuperClass">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.incquery.examples.uml.evm.queries.superOrEqualClass"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.incquery.examples.uml.evm.queries.superorequalclass.SuperOrEqualClassMatcherFactory$Provider"
            id="org.eclipse.incquery.examples.uml.evm.queries.superOrEqualClass">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.incquery.examples.uml.evm.queries.ownsOperation"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.incquery.examples.uml.evm.queries.ownsoperation.OwnsOperationMatcherFactory$Provider"
            id="org.eclipse.incquery.examples.uml.evm.queries.ownsOperation">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.incquery.examples.uml.evm.queries.ownsProperty"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.incquery.examples.uml.evm.queries.ownsproperty.OwnsPropertyMatcherFactory$Provider"
            id="org.eclipse.incquery.examples.uml.evm.queries.ownsProperty">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.incquery.examples.uml.evm.queries.hasOperation"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.incquery.examples.uml.evm.queries.hasoperation.HasOperationMatcherFactory$Provider"
            id="org.eclipse.incquery.examples.uml.evm.queries.hasOperation">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.incquery.examples.uml.evm.queries.hasProperty"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.incquery.examples.uml.evm.queries.hasproperty.HasPropertyMatcherFactory$Provider"
            id="org.eclipse.incquery.examples.uml.evm.queries.hasProperty">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.incquery.examples.uml.evm.queries.emptyClass"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.incquery.examples.uml.evm.queries.emptyclass.EmptyClassMatcherFactory$Provider"
            id="org.eclipse.incquery.examples.uml.evm.queries.emptyClass">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.incquery.examples.uml.evm.queries.nonEmptyClass"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="org.eclipse.incquery.examples.uml.evm.queries.nonemptyclass.NonEmptyClassMatcherFactory$Provider"
            id="org.eclipse.incquery.examples.uml.evm.queries.nonEmptyClass">
      </matcher>
   </extension>

</plugin>
