<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="org.eclipse.incquery.runtime.runonce.tests.bookAuthors"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.eclipse.incquery.runtime.runonce.tests.util.BookAuthorsQuerySpecification$Provider"
            id="org.eclipse.incquery.runtime.runonce.tests.bookAuthors">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.incquery.runtime.runonce.tests.booksWithMultipleAuthors"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.eclipse.incquery.runtime.runonce.tests.util.BooksWithMultipleAuthorsQuerySpecification$Provider"
            id="org.eclipse.incquery.runtime.runonce.tests.booksWithMultipleAuthors">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.incquery.runtime.runonce.tests.booksWithMultipleAuthors"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="org.eclipse.incquery.runtime.runonce.tests.util.BooksWithMultipleAuthorsEvaluator1_1"
            id="org.eclipse.incquery.runtime.runonce.tests.booksWithMultipleAuthors_1_1">
      </evaluator>
   </extension>
   <extension
         id="org.eclipse.incquery.runtime.runonce.tests.sumOfPagesInLibrary"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.eclipse.incquery.runtime.runonce.tests.util.SumOfPagesInLibraryQuerySpecification$Provider"
            id="org.eclipse.incquery.runtime.runonce.tests.sumOfPagesInLibrary">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.incquery.runtime.runonce.tests.singleAuthoredFirstBooks"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.eclipse.incquery.runtime.runonce.tests.util.SingleAuthoredFirstBooksQuerySpecification$Provider"
            id="org.eclipse.incquery.runtime.runonce.tests.singleAuthoredFirstBooks">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.incquery.runtime.runonce.tests.longSciFiBooksOfAuthor"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.eclipse.incquery.runtime.runonce.tests.util.LongSciFiBooksOfAuthorQuerySpecification$Provider"
            id="org.eclipse.incquery.runtime.runonce.tests.longSciFiBooksOfAuthor">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.incquery.runtime.runonce.tests.longSciFiBooksOfAuthor"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="org.eclipse.incquery.runtime.runonce.tests.util.LongSciFiBooksOfAuthorEvaluator1_1"
            id="org.eclipse.incquery.runtime.runonce.tests.longSciFiBooksOfAuthor_1_1">
      </evaluator>
   </extension>
   <extension
         id="org.eclipse.incquery.runtime.runonce.tests.requestCountOfLibrary"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.eclipse.incquery.runtime.runonce.tests.util.RequestCountOfLibraryQuerySpecification$Provider"
            id="org.eclipse.incquery.runtime.runonce.tests.requestCountOfLibrary">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.incquery.runtime.runonce.tests.someBooksWithTwoAuthors"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.eclipse.incquery.runtime.runonce.tests.util.SomeBooksWithTwoAuthorsQuerySpecification$Provider"
            id="org.eclipse.incquery.runtime.runonce.tests.someBooksWithTwoAuthors">
      </matcher>
   </extension>

</plugin>
