<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated snapshot -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.viatra.query.testing.snapshot.presentation.SnapshotModelWizardID"
            name="%_UI_SnapshotModelWizard_label"
            class="org.eclipse.viatra.query.testing.snapshot.presentation.SnapshotModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/logo2.png">
         <description>%_UI_SnapshotModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated snapshot -->
      <editor
            id="org.eclipse.viatra.query.testing.snapshot.presentation.SnapshotEditorID"
            name="%_UI_SnapshotEditor_label"
            icon="icons/logo2.png"
            extensions="snapshot"
            class="org.eclipse.viatra.query.testing.snapshot.presentation.SnapshotEditor"
            contributorClass="org.eclipse.viatra.query.testing.snapshot.presentation.SnapshotActionBarContributor">
      </editor>
   </extension>
</plugin>
