<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="viewersandboxtab" name="Viewer Sandbox Tab" schema="schema/viewersandboxtab.exsd"/>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.viatra.query.tooling.ui.queryresult.QueryResultView">
         <command
               commandId="org.eclipse.viatra.addon.viewers.tooling.ui.initViewers.resourceset"
               label="Reinitialize VIATRA Viewers"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.viatra.addon.viewers.tooling.ui.category"
            id="org.eclipse.viatra.addon.viewers.tooling.ui.initViewers.resourceset"
            name="Reinitialize VIATRA Viewers (resourceset)">
      </command>
      <category
            id="org.eclipse.viatra.addon.viewers.tooling.ui.category"
            name="VIATRA Viewers">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.views"> 
      <view
            category="org.eclipse.viatra.query.tooling.ui"
            class="org.eclipse.viatra.addon.viewers.tooling.ui.views.ViewersMultiSandboxView"
            icon="platform:/plugin/org.eclipse.viatra.query.patternlanguage.emf.ui/icons/logo2.png"
            id="org.eclipse.viatra.addon.viewers.tooling.ui.sandbox"
            name="Viewers Sandbox"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.viatra.addon.viewers.tooling.ui.handlers.InitializeViewersHandlerResourceSet"
            commandId="org.eclipse.viatra.addon.viewers.tooling.ui.initViewers.resourceset">
         <enabledWhen>
            <or>
               <reference
                     definitionId="org.eclipse.viatra.query.tooling.ui.filteredmatchercontent">
               </reference>
            </or>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.viatra.addon.viewers.tooling.ui.viewersandboxtab">
      <tab
            implementation="org.eclipse.viatra.addon.viewers.tooling.ui.views.tabs.ListViewerSandboxTab">
      </tab>
      <tab
              implementation="org.eclipse.viatra.addon.viewers.tooling.ui.views.tabs.TreeViewerSandboxTab">
      </tab>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.viatra.query.tooling.ui.TransformationDevPerspective">
         <view
               id="org.eclipse.viatra.addon.viewers.tooling.ui.sandbox"
               minimized="false"
               relationship="stack"
               relative="right"
               visible="false">
         </view>
         <viewShortcut
               id="org.eclipse.viatra.addon.viewers.tooling.ui.sandbox">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
</plugin>
