<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension point="org.eclipse.jdt.core.classpathVariableInitializer">
    <classpathVariableInitializer class="org.eclipse.pde.internal.core.EclipseHomeInitializer" readOnly="true" variable="ECLIPSE_HOME"/>
  </extension>
  <extension id="extension.derived.operation.queries.ChecklistProcessCorrespondence" point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="Checklist" feature-name="process" package-nsUri="http://operation/1.0"/>
  </extension>
  <extension id="extension.derived.operation.queries.ChecklistEntryTaskCorrespondence" point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="ChecklistEntry" feature-name="task" package-nsUri="http://operation/1.0"/>
  </extension>
  <extension id="extension.derived.operation.queries.ChecklistEntryJobCorrespondence" point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="ChecklistEntry" feature-name="jobs" package-nsUri="http://operation/1.0"/>
  </extension>
  <extension id="extension.derived.system.queries.JobTaskCorrespondence" point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="Job" feature-name="tasks" package-nsUri="http://system/1.0"/>
  </extension>
  <extension id="extension.derived.system.queries.DataTaskReadCorrespondence" point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="Data" feature-name="readingTask" package-nsUri="http://system/1.0"/>
  </extension>
  <extension id="extension.derived.system.queries.JobInfoCorrespondence" point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="Job" feature-name="info" package-nsUri="http://system/1.0"/>
  </extension>
  <extension id="extension.derived.system.queries.DataTaskWriteCorrespondence" point="org.eclipse.incquery.runtime.base.wellbehaving.derived.features">
    <wellbehaving-derived-feature classifier-name="Data" feature-name="writingTask" package-nsUri="http://system/1.0"/>
  </extension>
  <extension id="system.queries.DerivedFeatures" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:system.queries.DerivedFeatures" id="system.queries.DerivedFeatures"/>
  </extension>
  <extension id="operation.queries.DerivedFeatures" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:operation.queries.DerivedFeatures" id="operation.queries.DerivedFeatures"/>
  </extension>
</plugin>
