<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.viatra.query.patternlanguage.emf.annotation">
      <annotation
            provider="org.eclipse.viatra.query.patternlanguage.emf.tests.annotations.OptionalAnnotationValidator">
      </annotation>
      <annotation
            provider="org.eclipse.viatra.query.patternlanguage.emf.tests.annotations.Param1AnnotationValidator">
      </annotation>
      <annotation
            provider="org.eclipse.viatra.query.patternlanguage.emf.tests.annotations.Param2AnnotationValidator">
      </annotation>

   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated typetest -->
      <package
            uri="http://www.eclipse.org/viatra/query/patternlanguage/emf/test"
            class="org.eclipse.viatra.query.patternlanguage.emf.tests.pltest.PltestPackage"
            genModel="model/typetest.genmodel"/>
   </extension>
  <extension
        point="org.eclipse.viatra.query.patternlanguage.emf.purewhitelist">
     <whitelist-extension
           provider="org.eclipse.viatra.query.patternlanguage.emf.tests.whitelist.TestWhitelistProvider">
     </whitelist-extension>
  </extension>

</plugin>
