<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.setting_delegate">
      <factory
            class="org.eclipse.viatra.addon.querybasedfeatures.runtime.QueryBasedFeatureSettingDelegateFactory"
            uri="org.eclipse.viatra.query.querybasedfeature">
      </factory>
   </extension>
</plugin>
