<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="org.eclipse.viatra.cep.core.engine.compiler.MappingPatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:org.eclipse.viatra.cep.core.engine.compiler.MappingPatterns" id="org.eclipse.viatra.cep.core.engine.compiler.MappingPatterns">
      <query-specification fqn="org.eclipse.viatra.cep.core.engine.compiler.translatedEventPattern"/>
      <query-specification fqn="org.eclipse.viatra.cep.core.engine.compiler.atomicEventPattern"/>
      <query-specification fqn="org.eclipse.viatra.cep.core.engine.compiler.followsPattern"/>
      <query-specification fqn="org.eclipse.viatra.cep.core.engine.compiler.orPattern"/>
      <query-specification fqn="org.eclipse.viatra.cep.core.engine.compiler.andPattern"/>
      <query-specification fqn="org.eclipse.viatra.cep.core.engine.compiler.notPattern"/>
      <query-specification fqn="org.eclipse.viatra.cep.core.engine.compiler.negativeTransition"/>
      <query-specification fqn="org.eclipse.viatra.cep.core.engine.compiler.complexFollowsTransition"/>
      <query-specification fqn="org.eclipse.viatra.cep.core.engine.compiler.complexOrTransition"/>
      <query-specification fqn="org.eclipse.viatra.cep.core.engine.compiler.complexAndTransition"/>
      <query-specification fqn="org.eclipse.viatra.cep.core.engine.compiler.nonUnfoldedNotTransition"/>
      <query-specification fqn="org.eclipse.viatra.cep.core.engine.compiler.complexNotTransition"/>
    </group>
  </extension>
  <extension id="org.eclipse.viatra.cep.core.engine.runtime.RuntimePatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:org.eclipse.viatra.cep.core.engine.runtime.RuntimePatterns" id="org.eclipse.viatra.cep.core.engine.runtime.RuntimePatterns">
      <query-specification fqn="org.eclipse.viatra.cep.core.engine.runtime.latestEvent"/>
      <query-specification fqn="org.eclipse.viatra.cep.core.engine.runtime.finishedAutomaton"/>
      <query-specification fqn="org.eclipse.viatra.cep.core.engine.runtime.tokenInTrapState"/>
      <query-specification fqn="org.eclipse.viatra.cep.core.engine.runtime.tokenInInitState"/>
      <query-specification fqn="org.eclipse.viatra.cep.core.engine.runtime.tokenInFinalState"/>
      <query-specification fqn="org.eclipse.viatra.cep.core.engine.runtime.resettableEventToken"/>
      <query-specification fqn="org.eclipse.viatra.cep.core.engine.runtime.enabledTransition"/>
      <query-specification fqn="org.eclipse.viatra.cep.core.engine.runtime.enabledNegativeTransition"/>
      <query-specification fqn="org.eclipse.viatra.cep.core.engine.runtime.transitionWithEventType"/>
      <query-specification fqn="org.eclipse.viatra.cep.core.engine.runtime.negativeTransition"/>
      <query-specification fqn="org.eclipse.viatra.cep.core.engine.runtime.eventProcessedByEventToken"/>
      <query-specification fqn="org.eclipse.viatra.cep.core.engine.runtime.partiallyMatchedEventPattern"/>
      <query-specification fqn="org.eclipse.viatra.cep.core.engine.runtime.initState"/>
      <query-specification fqn="org.eclipse.viatra.cep.core.engine.runtime.tokenEntersTimedZone"/>
      <query-specification fqn="org.eclipse.viatra.cep.core.engine.runtime.tokenLeavesTimedZone"/>
      <query-specification fqn="org.eclipse.viatra.cep.core.engine.runtime.tokenInTimedZone"/>
    </group>
  </extension>
  <extension id="org.eclipse.viatra.cep.core.engine.compiler.OptimizationPatterns" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:org.eclipse.viatra.cep.core.engine.compiler.OptimizationPatterns" id="org.eclipse.viatra.cep.core.engine.compiler.OptimizationPatterns">
      <query-specification fqn="org.eclipse.viatra.cep.core.engine.compiler.epsilonTransition"/>
      <query-specification fqn="org.eclipse.viatra.cep.core.engine.compiler.sameBooleanTransitionType"/>
      <query-specification fqn="org.eclipse.viatra.cep.core.engine.compiler.equivalentTransitions"/>
      <query-specification fqn="org.eclipse.viatra.cep.core.engine.compiler.equivalentStates"/>
    </group>
  </extension>
</plugin>
