<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.viatra.dse.ruledependency.resolver">
      <client
            class="org.eclipse.viatra.dse.dependencygraph.DependencyGraphResolver"
            id="org.eclipse.viatra.dse.dependencygraph.RuleDependencyResolver"
            name="RuleDependencyResolver">
      </client>
   </extension>

</plugin>
