<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.classifierFeature" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="Classifier" feature-name="feature" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.classifierFeature" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.ClassifierFeature"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.actionContext" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="Action" feature-name="context" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.actionContext" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.ActionContext"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.typePackage" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="Type" feature-name="package" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.typePackage" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.TypePackage"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.directedRelationshipSource" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="DirectedRelationship" feature-name="source" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.directedRelationshipSource" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.DirectedRelationshipSource"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.extensionMetaclass" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="Extension" feature-name="metaclass" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.extensionMetaclass" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.ExtensionMetaclass"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.propertyIsComposite" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="Property" feature-name="isComposite" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.propertyIsComposite" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.PropertyIsComposite"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.encapsulatedClassifierOwnedPort" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="EncapsulatedClassifier" feature-name="ownedPort" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.encapsulatedClassifierOwnedPort" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.EncapsulatedClassifierOwnedPort"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.directedRelationshipTarget" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="DirectedRelationship" feature-name="target" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.directedRelationshipTarget" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.DirectedRelationshipTarget"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.actionOutput" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="Action" feature-name="output" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.actionOutput" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.ActionOutput"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.activityEdgeInGroup" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="ActivityEdge" feature-name="inGroup" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.activityEdgeInGroup" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.ActivityEdgeInGroup"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.activityGroupContainedNode" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="ActivityGroup" feature-name="containedNode" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.activityGroupContainedNode" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.ActivityGroupContainedNode"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.behaviorContext" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="Behavior" feature-name="context" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.behaviorContext" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.BehaviorContext"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.namespaceImportedMember" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="Namespace" feature-name="importedMember" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.namespaceImportedMember" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.NamespaceImportedMember"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.classExtension" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="Class" feature-name="extension" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.classExtension" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.ClassExtension"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.featureFeaturingClassifier" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="Feature" feature-name="featuringClassifier" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.featureFeaturingClassifier" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.FeatureFeaturingClassifier"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.activityNodeInGroup" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="ActivityNode" feature-name="inGroup" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.activityNodeInGroup" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.ActivityNodeInGroup"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.classifierGeneral" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="Classifier" feature-name="general" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.classifierGeneral" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.ClassifierGeneral"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.connectableElementEnd" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="ConnectableElement" feature-name="end" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.connectableElementEnd" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.ConnectableElementEnd"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.stateIsOrthogonal" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="State" feature-name="isOrthogonal" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.stateIsOrthogonal" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.StateIsOrthogonal"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.namedElementClientDependency" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="NamedElement" feature-name="clientDependency" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.namedElementClientDependency" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.NamedElementClientDependency"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.protocolTransitionReferred" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="ProtocolTransition" feature-name="referred" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.protocolTransitionReferred" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.ProtocolTransitionReferred"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.vertexIncoming" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="Vertex" feature-name="incoming" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.vertexIncoming" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.VertexIncoming"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.activityGroupSuperGroup" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="ActivityGroup" feature-name="superGroup" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.activityGroupSuperGroup" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.ActivityGroupSuperGroup"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.namedElementQualifiedName" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="NamedElement" feature-name="qualifiedName" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.namedElementQualifiedName" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.NamedElementQualifiedName"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.classifierAttribute" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="Classifier" feature-name="attribute" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.classifierAttribute" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.ClassifierAttribute"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.activityGroupInActivity" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="ActivityGroup" feature-name="inActivity" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.activityGroupInActivity" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.ActivityGroupInActivity"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.elementOwnedElement" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="Element" feature-name="ownedElement" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.elementOwnedElement" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.ElementOwnedElement"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.associationEndType" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="Association" feature-name="endType" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.associationEndType" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.AssociationEndType"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.messageMessageKind" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="Message" feature-name="messageKind" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.messageMessageKind" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.MessageMessageKind"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.namespaceOwnedMember" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="Namespace" feature-name="ownedMember" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.namespaceOwnedMember" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.NamespaceOwnedMember"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.redefinableElementRedefinitionContext" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="RedefinableElement" feature-name="redefinitionContext" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.redefinableElementRedefinitionContext" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.RedefinableElementRedefinitionContext"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.opaqueExpressionResult" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="OpaqueExpression" feature-name="result" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.opaqueExpressionResult" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.OpaqueExpressionResult"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.namedElementNamespace" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="NamedElement" feature-name="namespace" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.namedElementNamespace" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.NamedElementNamespace"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.redefinableTemplateSignatureInheritedParameter" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="RedefinableTemplateSignature" feature-name="inheritedParameter" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.redefinableTemplateSignatureInheritedParameter" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.RedefinableTemplateSignatureInheritedParameter"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.activityGroupContainedEdge" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="ActivityGroup" feature-name="containedEdge" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.activityGroupContainedEdge" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.ActivityGroupContainedEdge"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.namespaceMember" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="Namespace" feature-name="member" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.namespaceMember" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.NamespaceMember"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.stateIsComposite" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="State" feature-name="isComposite" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.stateIsComposite" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.StateIsComposite"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.activityGroupSubgroup" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="ActivityGroup" feature-name="subgroup" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.activityGroupSubgroup" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.ActivityGroupSubgroup"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.packageOwnedType" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="Package" feature-name="ownedType" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.packageOwnedType" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.PackageOwnedType"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.activityNode" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="Activity" feature-name="node" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.activityNode" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.ActivityNode"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.structuredClassifierRole" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="StructuredClassifier" feature-name="role" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.structuredClassifierRole" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.StructuredClassifierRole"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.vertexOutgoing" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="Vertex" feature-name="outgoing" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.vertexOutgoing" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.VertexOutgoing"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.structuredClassifierPart" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="StructuredClassifier" feature-name="part" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.structuredClassifierPart" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.StructuredClassifierPart"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.connectorKind" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="Connector" feature-name="kind" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.connectorKind" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.ConnectorKind"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.classSuperClass" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="Class" feature-name="superClass" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.classSuperClass" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.ClassSuperClass"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.activityGroup" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="Activity" feature-name="group" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.activityGroup" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.ActivityGroup"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.packageNestingPackage" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="Package" feature-name="nestingPackage" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.packageNestingPackage" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.PackageNestingPackage"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.redefinableElementRedefinedElement" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="RedefinableElement" feature-name="redefinedElement" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.redefinableElementRedefinedElement" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.RedefinableElementRedefinedElement"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.elementOwner" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="Element" feature-name="owner" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.elementOwner" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.ElementOwner"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.packageNestedPackage" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="Package" feature-name="nestedPackage" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.packageNestedPackage" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.PackageNestedPackage"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.activityNodeActivity" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="ActivityNode" feature-name="activity" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.activityNodeActivity" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.ActivityNodeActivity"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.relationshipRelatedElement" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="Relationship" feature-name="relatedElement" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.relationshipRelatedElement" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.RelationshipRelatedElement"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.deploymentTargetDeployedElement" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="DeploymentTarget" feature-name="deployedElement" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.deploymentTargetDeployedElement" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.DeploymentTargetDeployedElement"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.actionInput" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="Action" feature-name="input" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.actionInput" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.ActionInput"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.viatra.integration.uml.derivedfeatures.packageOwnedStereotype" point="org.eclipse.viatra.query.runtime.surrogatequeryemf">
    <surrogate-query-emf class-name="Package" feature-name="ownedStereotype" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" query-fqn="org.eclipse.viatra.integration.uml.derivedfeatures.packageOwnedStereotype" surrogate-query="org.eclipse.viatra.query.runtime.extensibility.PQueryExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.PackageOwnedStereotype"/>
  </extension>
  <extension id="org.eclipse.viatra.integration.uml.derivedfeatures.DerivedFeatures" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:org.eclipse.viatra.integration.uml.derivedfeatures.DerivedFeatures" id="org.eclipse.viatra.integration.uml.derivedfeatures.DerivedFeatures">
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.actionInput"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.actionOutput"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.activityGroup"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.activityGroupInActivity"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.activityNode"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.activityNodeActivity"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.activityEdgeInGroup"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.activityGroupContainedEdge"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.activityGroupContainedNode"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.activityNodeInGroup"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.activityGroupSubgroup"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.activityGroupSuperGroup"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.classifierAttribute"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.classifierFeature"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.featureFeaturingClassifier"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.directedRelationshipSource"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.directedRelationshipTarget"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.elementOwnedElement"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.elementOwner"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.namespaceMember"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.namespaceOwnedMember"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.redefinableElementRedefinedElement"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.redefinableElementRedefinitionContext"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.relationshipRelatedElement"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.structuredClassifierRole"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.actionContext"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.associationEndType"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.behaviorContext"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.connectableElementEnd"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.deploymentTargetDeployedElement"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.namedElementClientDependency"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.protocolTransitionReferred"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.vertexIncoming"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.vertexOutgoing"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.connectorKind"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.messageMessageKind"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.packageNestedPackage"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.packageOwnedStereotype"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.packageOwnedType"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.propertyIsComposite"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.stateIsComposite"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.namedElementNamespace"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.typePackage"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.classExtension"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.classSuperClass"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.classifierGeneral"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.encapsulatedClassifierOwnedPort"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.extensionMetaclass"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.namedElementQualifiedName"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.namespaceImportedMember"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.opaqueExpressionResult"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.packageNestingPackage"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.redefinableTemplateSignatureInheritedParameter"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.structuredClassifierPart"/>
      <query-specification fqn="org.eclipse.viatra.integration.uml.derivedfeatures.stateIsOrthogonal"/>
    </group>
  </extension>
</plugin>
