<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.services">
		<sourceProvider
			provider="org.eclipse.viatra.addon.querybyexample.ui.handlers.QBEViewMainSourceProvider">
			<variable name="org.eclipse.viatra.addon.querybyexample.ui.qbeviewmainvariable"
				priorityLevel="workbench">
			</variable>
		</sourceProvider>
	</extension>
	<extension point="org.eclipse.ui.commands">
		<category
			name="QBE Category"
			id="org.eclipse.viatra.addon.querybyexample.ui.commands.qbecategory">
		</category>
		<category
			name="QBE Main Action Category"
			id="org.eclipse.viatra.addon.querybyexample.ui.commands.qbetoolbarcategory">
		</category>
		<command
			name="Start - discover correspondence between selected elements"
			categoryId="org.eclipse.viatra.addon.querybyexample.ui.commands.qbetoolbarcategory"
			id="org.eclipse.viatra.addon.querybyexample.ui.commands.qbemainactioncmd">
		</command>
		<command
			name="Save - generate query code to new destination"
			categoryId="org.eclipse.viatra.addon.querybyexample.ui.commands.qbetoolbarcategory"
			id="org.eclipse.viatra.addon.querybyexample.ui.commands.refreshcmd">
		</command>
		<command
			name="Update - propagate changes to previously linked query file"
			categoryId="org.eclipse.viatra.addon.querybyexample.ui.commands.qbetoolbarcategory"
			id="org.eclipse.viatra.addon.querybyexample.ui.commands.refreshlnkfilecmd">
		</command>
		<command
			name="Restore exploration depth"
			categoryId="org.eclipse.viatra.addon.querybyexample.ui.commands.qbetoolbarcategory"
			id="org.eclipse.viatra.addon.querybyexample.ui.commands.qbeautoadjustcmd">
		</command>
		<command
			name="Help"
			categoryId="org.eclipse.viatra.addon.querybyexample.ui.commands.qbetoolbarcategory"
			id="org.eclipse.viatra.addon.querybyexample.ui.commands.helpcmd">
		</command>
		<command
			name="Find negative constraints"
			categoryId="org.eclipse.viatra.addon.querybyexample.ui.commands.qbetoolbarcategory"
			id="org.eclipse.viatra.addon.querybyexample.ui.commands.negconstraintscmd">
		</command>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			commandId="org.eclipse.viatra.addon.querybyexample.ui.commands.refreshcmd"
			class="org.eclipse.viatra.addon.querybyexample.ui.handlers.RefreshCodeHandler">
			<enabledWhen>
				<with variable="org.eclipse.viatra.addon.querybyexample.ui.qbeviewmainvariable">
					<or>
						<equals value="MODEL_LOADED"></equals>
						<equals value="LINKED_FILE_EXISTING"></equals>
					</or>
				</with>
			</enabledWhen>
		</handler>
		<handler
			commandId="org.eclipse.viatra.addon.querybyexample.ui.commands.refreshlnkfilecmd"
			class="org.eclipse.viatra.addon.querybyexample.ui.handlers.RefreshCodeToLinkedFileHandler">
			<enabledWhen>
				<with variable="org.eclipse.viatra.addon.querybyexample.ui.qbeviewmainvariable">
					<or>
						<equals value="LINKED_FILE_EXISTING"></equals>
					</or>
				</with>
			</enabledWhen>
		</handler>
		<handler
			commandId="org.eclipse.viatra.addon.querybyexample.ui.commands.qbeautoadjustcmd"
			class="org.eclipse.viatra.addon.querybyexample.ui.handlers.AutoAdjustHandler">
			<enabledWhen>
				<with variable="org.eclipse.viatra.addon.querybyexample.ui.qbeviewmainvariable">
					<or>
						<equals value="MODEL_LOADED"></equals>
						<equals value="LINKED_FILE_EXISTING"></equals>
					</or>
				</with>
			</enabledWhen>
		</handler>
		<handler
			commandId="org.eclipse.viatra.addon.querybyexample.ui.commands.qbemainactioncmd"
			class="org.eclipse.viatra.addon.querybyexample.ui.handlers.StartHandler">
		</handler>
		<handler
			commandId="org.eclipse.viatra.addon.querybyexample.ui.commands.helpcmd"
			class="org.eclipse.viatra.addon.querybyexample.ui.handlers.HelpHandler">
		</handler>
		<handler
			commandId="org.eclipse.viatra.addon.querybyexample.ui.commands.negconstraintscmd"
			class="org.eclipse.viatra.addon.querybyexample.ui.handlers.NegConstraintsHandler">
			<enabledWhen>
				<with variable="org.eclipse.viatra.addon.querybyexample.ui.qbeviewmainvariable">
					<or>
						<equals value="MODEL_LOADED"></equals>
						<equals value="LINKED_FILE_EXISTING"></equals>
					</or>
				</with>
			</enabledWhen>
		</handler>
	</extension>
	
	<extension point="org.eclipse.ui.views">
		<view
			name="Query by Example"
            category="org.eclipse.viatra.query.tooling.ui"
            icon="platform:/plugin/org.eclipse.viatra.query.tooling.ui/icons/logo2.png"
            class="org.eclipse.viatra.addon.querybyexample.ui.ui.QBEView"
            id="org.eclipse.viatra.addon.querybyexample.ui.qbeview">
        </view>
    </extension>

	<extension point="org.eclipse.ui.menus">
			
		<!-- Start QBE menu -->
		<menuContribution allPopups="false"
            locationURI="toolbar:org.eclipse.viatra.addon.querybyexample.ui.qbeview">
         <command
         	commandId="org.eclipse.viatra.addon.querybyexample.ui.commands.qbemainactioncmd"
         	icon="icons/load.gif"
         	id="org.eclipse.viatra.addon.querybyexample.ui.views.qbemainactionbtn"
         	label="Start Query-by-Example"
         	>
         </command>
         <!-- Refresh code menuitem -->
         <command
         	commandId="org.eclipse.viatra.addon.querybyexample.ui.commands.refreshcmd"
         	icon="icons/refresh.gif"
         	label="Export pattern code"
         	style="push">
         </command>
         <!-- Refresh code to linked file menuitem -->
         <command
         	commandId="org.eclipse.viatra.addon.querybyexample.ui.commands.refreshlnkfilecmd"
         	icon="icons/qbe_linked_file.gif"
         	label="Export pattern code to linked file"
         	style="push">
         </command>
      </menuContribution>  
      <menuContribution allPopups="false"
            locationURI="menu:org.eclipse.viatra.addon.querybyexample.ui.qbeview">
         <!-- QBE Help menuitem -->
         <command
         	commandId="org.eclipse.viatra.addon.querybyexample.ui.commands.helpcmd"
         	icon="/icons/info.gif"
         	label="Help"
         	style="push">
         </command>
         <!-- Auto adjust menuitem -->
         <command
         	commandId="org.eclipse.viatra.addon.querybyexample.ui.commands.qbeautoadjustcmd"
         	icon="icons/auto_adjust.gif"
         	label="Auto Adjust depth"
         	style="push">
         </command>
         <!-- Negative constraints menuitem -->
         <command
         	commandId="org.eclipse.viatra.addon.querybyexample.ui.commands.negconstraintscmd"
         	icon="icons/qbe_constraint_neg.gif"
         	label="Find negative constraints"
         	style="push">
         </command>
      </menuContribution>
      
	</extension>
</plugin>
