/.BookAuthorsProcessor.java._trace
/.BookAuthorsQuerySpecification.java._trace
/.BooksWithMultipleAuthorsProcessor.java._trace
/.BooksWithMultipleAuthorsQuerySpecification.java._trace
/.SingleAuthoredFirstBooksProcessor.java._trace
/.SingleAuthoredFirstBooksQuerySpecification.java._trace
/.SumOfPagesInLibraryProcessor.java._trace
/.SumOfPagesInLibraryQuerySpecification.java._trace
/.LongSciFiBooksOfAuthorProcessor.java._trace
/.LongSciFiBooksOfAuthorQuerySpecification.java._trace
/.RequestCountOfLibraryProcessor.java._trace
/.RequestCountOfLibraryQuerySpecification.java._trace
/.SomeBooksWithTwoAuthorsProcessor.java._trace
/.SomeBooksWithTwoAuthorsQuerySpecification.java._trace
