<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="org.eclipse.viatra.examples.bpm.tests.queries.BpmTestQueries" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:org.eclipse.viatra.examples.bpm.tests.queries.BpmTestQueries" id="org.eclipse.viatra.examples.bpm.tests.queries.BpmTestQueries"/>
  </extension>
</plugin>
