<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.viatra.query.tooling.ui"
            class="org.eclipse.viatra.transformation.debug.ui.util.DebugExecutableExtensionFactory:org.eclipse.viatra.transformation.debug.ui.views.transformationbrowser.AdaptableTransformationBrowser"
            icon="icons/rsz_viatra_logo.png"
            id="org.eclipse.viatra.transformation.debug.ui.AdaptableTransformationBrowser"
            name="Adaptable Transformation Browser"
            restorable="true">
      </view>
      <view
            category="org.eclipse.viatra.query.tooling.ui"
            class="org.eclipse.viatra.transformation.debug.ui.util.DebugExecutableExtensionFactory:org.eclipse.viatra.transformation.debug.ui.views.ModelInstanceViewer"
            icon="icons/rsz_viatra_logo.png"
            id="org.eclipse.viatra.transformation.ui.debug.TransformationViewer"
            name="Transformation Viewer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.viatra.transformation.ui.debug"
            name="VIATRA Debug Commands">
      </category>
      <command
            categoryId="org.eclipse.viatra.transformation.ui.debug"
            id="org.eclipse.viatra.transformation.ui.debug.toggleActivationBreakpoint"
            name="Toggle Activation Breakpoint">
      </command>
      <command
            categoryId="org.eclipse.viatra.transformation.ui.debug"
            id="org.eclipse.viatra.transformation.debug.ui.SelectNextActivation"
            name="SelectNextActivation">
      </command>
      <command
            categoryId="org.eclipse.viatra.transformation.ui.debug"
            id="org.eclipse.viatra.transformation.debug.ui.addRuleBreakpoint"
            name="Add Rule Breakpoint">
      </command>
      <command
            categoryId="org.eclipse.viatra.transformation.ui.debug"
            id="org.eclipse.viatra.transformation.debug.ui.addCondBreakpoint"
            name="Add Conditional Breakpoint">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.viatra.transformation.debug.ui.util.DebugExecutableExtensionFactory:org.eclipse.viatra.transformation.debug.ui.handlers.ToggleActivationBreakpointHandler"
            commandId="org.eclipse.viatra.transformation.ui.debug.toggleActivationBreakpoint">
         <enabledWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="org.eclipse.viatra.transformation.debug.ui.views.transformationbrowser.AdaptableTransformationBrowser">
               </instanceof>
               <test
                     property="org.eclipse.viatra.transformation.debug.ui.activation">
               </test>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.viatra.transformation.debug.ui.util.DebugExecutableExtensionFactory:org.eclipse.viatra.transformation.debug.ui.handlers.SelectNextActivationHandler"
            commandId="org.eclipse.viatra.transformation.debug.ui.SelectNextActivation">
          <enabledWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="org.eclipse.viatra.transformation.debug.ui.views.transformationbrowser.AdaptableTransformationBrowser">
               </instanceof>
               <test
                     property="org.eclipse.viatra.transformation.debug.ui.activation">
               </test>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.viatra.transformation.debug.ui.util.DebugExecutableExtensionFactory:org.eclipse.viatra.transformation.debug.ui.handlers.AddRuleBreakpointHandler"
            commandId="org.eclipse.viatra.transformation.debug.ui.addRuleBreakpoint">
          <enabledWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="org.eclipse.viatra.transformation.debug.ui.views.transformationbrowser.AdaptableTransformationBrowser">
               </instanceof>
               <test
                     property="org.eclipse.viatra.transformation.debug.ui.running">
               </test>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.viatra.transformation.debug.ui.util.DebugQueryLanguageExecutableExtensionFactory:org.eclipse.viatra.transformation.debug.ui.handlers.AddConditionalBreakpointHandler"
            commandId="org.eclipse.viatra.transformation.debug.ui.addCondBreakpoint">
           <enabledWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="org.eclipse.viatra.transformation.debug.ui.views.transformationbrowser.AdaptableTransformationBrowser">
               </instanceof>
               <test
                     property="org.eclipse.viatra.transformation.debug.ui.running">
               </test>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.viatra.transformation.debug.ui.AdaptableTransformationBrowser">
         <control
               class="org.eclipse.viatra.transformation.debug.ui.views.transformationbrowser.TransformationBrowserConfigurationControl">
         </control>
         <separator
               name="org.eclipse.viatra.transformation.debug.ui.separator1">
         </separator>
         <command
               commandId="org.eclipse.viatra.transformation.debug.ui.SelectNextActivation"
               icon="icons/activation_stopped.gif"
               id="org.eclipse.viatra.transformation.ui.debug.nextActMenu"
               label="Select as Next Activation"
               style="push">
         </command>
         <separator
               name="org.eclipse.viatra.transformation.debug.ui.separator2">
         </separator>
         <command
               commandId="org.eclipse.viatra.transformation.ui.debug.toggleActivationBreakpoint"
               icon="icons/brkp_obj.gif"
               id="org.eclipse.viatra.transformation.ui.debug.toggleActBreakpointMenu"
               label="Toggle Activation Breakpoint"
               style="push">
         </command>
         <command
               commandId="org.eclipse.viatra.transformation.debug.ui.addRuleBreakpoint"
               icon="icons/activation_brkp.gif"
               id="org.eclipse.viatra.transformation.ui.debug.addRuleBreakpointMenu"
               label="Add Rule Breakpoint"
               style="push">
         </command>
         <command
               commandId="org.eclipse.viatra.transformation.debug.ui.addCondBreakpoint"
               icon="icons/activation_brkpd.gif"
               id="org.eclipse.viatra.transformation.ui.debug.addCondBreakpointMenu"
               label="Add Conditional Breakpoint"
               style="push">
         </command>
         <separator
               name="org.eclipse.viatra.transformation.debug.ui.separator3">
         </separator>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
        icon="icons/rsz_viatra_logo.png"
        configTypeID="org.eclipse.viatra.transformation.debug.launchViatraTransformation"
        id="org.eclipse.viatra.transformation.ui.debugLaunchConfigImage">
    </launchConfigurationTypeImage>
</extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.viatra.transformation.debug.ui.launch.TransformationDebugLaunchConfigurationTabGroup"
            id="org.eclipse.viatra.transformation.ui.transformationLCTabGroup"
            type="org.eclipse.viatra.transformation.debug.launchViatraTransformation">
      </launchConfigurationTabGroup>
   </extension>
      <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.eclipse.viatra.transformation.debug.ui.model.DebugModelPresentation"
            id="org.eclipse.viatra.transformation.debug.model">
      </debugModelPresentation>
   </extension>
      <extension
            point="org.eclipse.core.expressions.propertyTesters">
         <propertyTester
               class="org.eclipse.viatra.transformation.debug.ui.util.ViatraDebuggerPropertyTester"
               id="org.eclipse.viatra.transformation.debug.ui.debuggerPropertyTester"
               namespace="org.eclipse.viatra.transformation.debug.ui"
               properties="adaptableevm,activation,running"
               type="org.eclipse.viatra.transformation.debug.ui.views.transformationbrowser.AdaptableTransformationBrowser">
         </propertyTester>
      </extension>

</plugin>
