<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.viatra.query.tooling.ui.category"
            name="VIATRA">
      </category>
      <wizard
            category="org.eclipse.viatra.query.tooling.ui.category"
            class="org.eclipse.viatra.query.tooling.ui.QueryLanguageExecutableExtensionFactory:org.eclipse.viatra.query.tooling.ui.wizards.NewProjectWizard"
            finalPerspective="org.eclipse.pde.ui.PDEPerspective"
            icon="icons/logo2.png"
            id="org.eclipse.viatra.query.tooling.ui.newproject"
            name="Query Project"
            preferredPerspectives="org.eclipse.pde.ui.PDEPerspective,org.eclipse.jdt.ui.JavaPerspective"
            project="true">
      </wizard>
      <wizard
            category="org.eclipse.viatra.query.tooling.ui.category"
            class="org.eclipse.viatra.query.tooling.ui.QueryLanguageExecutableExtensionFactory:org.eclipse.viatra.query.tooling.ui.wizards.NewVqlFileWizard"
            finalPerspective="org.eclipse.pde.ui.PDEPerspective"
            icon="icons/logo2.png"
            id="org.eclipse.viatra.query.tooling.ui.newvqlfile"
            name="Query Definition "
            preferredPerspectives="org.eclipse.pde.ui.PDEPerspective,org.eclipse.jdt.ui.JavaPerspective">
      </wizard>
      <wizard
            category="org.eclipse.viatra.query.tooling.ui.category"
            class="org.eclipse.viatra.query.tooling.ui.QueryLanguageExecutableExtensionFactory:org.eclipse.viatra.query.tooling.ui.wizards.NewGenmodelWizard"
            icon="icons/logo2.png"
            id="org.eclipse.viatra.query.tooling.ui.newvqlgenmodel"
            name="Query Generator Model"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.eclipse.viatra"
            name="VIATRA">
      </category>
      <cheatsheet
            category="org.eclipse.viatra"
            composite="true"
            contentFile="cheatsheets/gettingstarted.xml"
            id="org.eclipse.viatra.query.tooling.ui.cheatsheet"
            name="Getting Started with VIATRA Query">
      </cheatsheet>
   </extension>
<extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.viatra.query.tooling.ui"
            name="VIATRA">
      </category>
      <view
            category="org.eclipse.viatra.query.tooling.ui"
            class="org.eclipse.viatra.query.tooling.ui.QueryLanguageExecutableExtensionFactory:org.eclipse.viatra.query.tooling.ui.queryexplorer.QueryExplorer"
            icon="icons/logo2.png"
            id="org.eclipse.viatra.query.tooling.ui.queryexplorer.QueryExplorer"
            name="Query Explorer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut
               id="org.eclipse.viatra.query.tooling.ui.newvqlfile">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.pde.ui.PDEPerspective">
         <newWizardShortcut
               id="org.eclipse.viatra.query.tooling.ui.newvqlfile">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.viatra.query.tooling.ui.TransformationDevPerspective">
         <view
               id="org.eclipse.jdt.ui.TypeHierarchy"
               minimized="false"
               visible="false"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer">
         </view>
         <view
               id="org.eclipse.jdt.ui.PackageExplorer"
               minimized="false"
               visible="false"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer">
         </view>
         <view
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         <view
               id="org.eclipse.viatra.query.tooling.ui.queryexplorer.QueryExplorer"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet"
               visible="false">
         </view>
         <view
               id="org.eclipse.amalgam.explorer.contextual.ui.view.ExplorerContextualID"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet">
         </view>
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               visible="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet">
         </view>
         <view
               id="org.eclipse.ui.views.BookmarkView"
               minimized="false"
               visible="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet">
         </view>
         <view
               id="org.eclipse.ui.views.ProgressView"
               minimized="false"
               visible="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet">
         </view>
         <viewShortcut
               id="org.eclipse.ui.views.PropertySheet">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.views.ProblemView">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.jdt.ui.PackageExplorer">
         </viewShortcut>
         <newWizardShortcut
               id="org.eclipse.viatra.query.tooling.ui.newproject">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.viatra.query.tooling.ui.newvqlfile">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.viatra.query.tooling.ui.newvqlgenmodel">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.xtend.ide.wizards.NewXtendClassWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.xtend.ide.wizards.NewXtendInterfaceWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.jdt.ui.wizards.NewClassCreationWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.jdt.ui.wizards.NewInterfaceCreationWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.pde.ui.NewProjectWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.ui.wizards.new.folder">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.ui.wizards.new.file">
         </newWizardShortcut>
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.viatra.query.tooling.ui.vql.file">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        property="org.eclipse.core.resources.name"
                        value="*.vql">
                  </test>
               </adapt>
            </iterate>
         </with>
      </definition>
      <definition
            id="org.eclipse.viatra.query.tooling.ui.root">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="org.eclipse.viatra.query.tooling.ui.queryexplorer.content.matcher.PatternMatcherRootContent">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="org.eclipse.viatra.query.tooling.ui.match">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="org.eclipse.viatra.query.tooling.ui.queryexplorer.content.matcher.PatternMatchContent">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="org.eclipse.viatra.query.tooling.ui.matcher">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="org.eclipse.viatra.query.tooling.ui.queryexplorer.content.matcher.PatternMatcherContent">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="org.eclipse.viatra.query.tooling.ui.patterncomponent">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="org.eclipse.viatra.query.tooling.ui.queryexplorer.content.patternsviewer.PatternComponent">
               </instanceof>
            </iterate>
            <count
                  value="1">
            </count>
         </with>
      </definition>
      <definition
            id="org.eclipse.viatra.query.tooling.ui.activedomaineditor">
         <with
               variable="activeEditor">
            <instanceof
                  value="org.eclipse.ui.IEditorPart">
            </instanceof>
            <adapt
                  type="org.eclipse.viatra.query.tooling.ui.queryexplorer.IModelConnector">
            </adapt>
         </with>
      </definition>
      <definition
            id="org.eclipse.viatra.query.tooling.ui.activepatterneditor">
         <with
               variable="activeEditorId">
            <equals
                  value="org.eclipse.viatra.query.patternlanguage.emf.EMFPatternLanguage">
            </equals>
         </with>
      </definition>
      <definition
            id="org.eclipse.viatra.query.tooling.ui.filteredmatchercontent">
            <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <instanceof
                     value="org.eclipse.viatra.query.tooling.ui.util.IFilteredMatcherContent">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.viatra.query.tooling.ui.QueryLanguageExecutableExtensionFactory:org.eclipse.viatra.query.tooling.ui.queryexplorer.handlers.RuntimeMatcherRegistrationHandler"
            commandId="org.eclipse.viatra.query.tooling.ui.runtimematcherreg">
      </handler>
      <handler
            class="org.eclipse.viatra.query.tooling.ui.QueryLanguageExecutableExtensionFactory:org.eclipse.viatra.query.tooling.ui.queryexplorer.handlers.LoadResourceSetHandler"
            commandId="org.eclipse.viatra.query.tooling.ui.loadmodel">
         <activeWhen>
            <reference
                  definitionId="org.eclipse.viatra.query.tooling.ui.activedomaineditor">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.viatra.query.tooling.ui.QueryLanguageExecutableExtensionFactory:org.eclipse.viatra.query.tooling.ui.queryexplorer.handlers.LoadVqlPatternHandler"
            commandId="org.eclipse.viatra.query.tooling.ui.loadmodel">
         <activeWhen>
            <reference
                  definitionId="org.eclipse.viatra.query.tooling.ui.activepatterneditor">
            </reference>
         </activeWhen>
      </handler>
 <!--     <handler
            class="org.eclipse.viatra.query.tooling.ui.QueryLanguageExecutableExtensionFactory:org.eclipse.viatra.query.tooling.ui.queryexplorer.handlers.AttachVqlEditorRegistrationHandler"
            commandId="org.eclipse.viatra.query.tooling.ui.loadmodel">
         <activeWhen>
            <reference
                  definitionId="org.eclipse.viatra.query.tooling.ui.activepatterneditor">
            </reference>
         </activeWhen>
      </handler> -->
<!--      <handler
            class="org.eclipse.viatra.query.tooling.ui.QueryLanguageExecutableExtensionFactory:org.eclipse.viatra.query.tooling.ui.queryexplorer.handlers.AttachVqlEditorRegistrationHandler"
            commandId="org.eclipse.viatra.query.tooling.ui.attachmodel">
         <activeWhen>
            <reference
                  definitionId="org.eclipse.viatra.query.tooling.ui.activepatterneditor">
            </reference>
         </activeWhen>
      </handler> -->
      <handler
            class="org.eclipse.viatra.query.tooling.ui.QueryLanguageExecutableExtensionFactory:org.eclipse.viatra.query.tooling.ui.queryexplorer.handlers.ShowLocationHandler"
            commandId="org.eclipse.viatra.query.tooling.ui.showlocation">
      </handler>
      <handler
            class="org.eclipse.viatra.query.tooling.ui.queryexplorer.handlers.UnloadModelHandler"
            commandId="org.eclipse.viatra.query.tooling.ui.unloadmodel">
      </handler>
      <handler
            class="org.eclipse.viatra.query.tooling.ui.queryexplorer.handlers.PatternUnregistrationHandler"
            commandId="org.eclipse.viatra.query.tooling.ui.unregisterpattern">
      </handler>
      <handler
            class="org.eclipse.viatra.query.tooling.ui.queryexplorer.handlers.PackagePresentationHandler"
            commandId="org.eclipse.viatra.query.tooling.ui.pattern.flat">
      </handler>
      <handler
            class="org.eclipse.viatra.query.tooling.ui.queryexplorer.handlers.PackagePresentationHandler"
            commandId="org.eclipse.viatra.query.tooling.ui.pattern.hierarchical">
      </handler>
      <handler
            class="org.eclipse.viatra.query.tooling.ui.QueryLanguageExecutableExtensionFactory:org.eclipse.viatra.query.tooling.ui.queryexplorer.handlers.LoadResourceSetHandler"
            commandId="org.eclipse.viatra.query.tooling.ui.loadresourceset">
      </handler>
      <handler
            class="org.eclipse.viatra.query.tooling.ui.QueryLanguageExecutableExtensionFactory:org.eclipse.viatra.query.tooling.ui.queryexplorer.handlers.LoadResourceHandler"
            commandId="org.eclipse.viatra.query.tooling.ui.loadresource">
      </handler>
      <handler
            class="org.eclipse.viatra.query.tooling.ui.QueryLanguageExecutableExtensionFactory:org.eclipse.viatra.query.tooling.ui.queryexplorer.handlers.LoadResourceHandler"
            commandId="org.eclipse.viatra.query.tooling.ui.loadvqlmodel">
      </handler>
      <handler
            class="org.eclipse.viatra.query.tooling.ui.QueryLanguageExecutableExtensionFactory:org.eclipse.viatra.query.tooling.ui.queryexplorer.handlers.LoadVqlPatternHandler"
            commandId="org.eclipse.viatra.query.tooling.ui.loadvqlpattern">
      </handler>
      <handler
            class="org.eclipse.viatra.query.tooling.ui.QueryLanguageExecutableExtensionFactory:org.eclipse.viatra.query.tooling.ui.queryexplorer.handlers.PatternRegistryShowLocationHandler"
            commandId="org.eclipse.viatra.query.tooling.ui.showlocation_patternreg">
      </handler>
      <handler
            class="org.eclipse.viatra.query.tooling.ui.queryexplorer.handlers.ResetUIHandler"
            commandId="org.eclipse.viatra.query.tooling.ui.resetui">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <menu
               id="org.eclipse.viatra.query.tooling.ui.navigator.popup"
               label="VIATRA">
            <command
                  commandId="org.eclipse.viatra.query.tooling.ui.runtimematcherreg"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.eclipse.viatra.query.tooling.ui.vql.file">
                  </reference>
               </visibleWhen>
            </command>
            <separator
                  name="additions"
                  visible="true">
            </separator>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.viatra.query.tooling.ui.queryexplorer.QueryExplorer">
         <control
               class="org.eclipse.viatra.query.tooling.ui.queryexplorer.BackendSelectionControl">
         </control>
         <command
               commandId="org.eclipse.viatra.query.tooling.ui.loadmodel"
               icon="icons/load.gif"
               id="org.eclipse.viatra.query.tooling.ui.loadmodelmenu"
               label="Load model"
               style="pulldown">
         </command>
         <separator
               name="org.eclipse.viatra.query.tooling.ui.separator1"
               visible="true">
         </separator>
      </menuContribution>     
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.viatra.query.tooling.ui.queryexplorer.QueryExplorer.treeViewerMenu">
         <command
               commandId="org.eclipse.viatra.query.tooling.ui.showlocation"
               icon="platform:/plugin/org.eclipse.ui/icons/full/elcl16/step_current.png"
               label="Show location"
               style="push">
            <visibleWhen
                  checkEnabled="false">
                  <or>
                    <reference
                       definitionId="org.eclipse.viatra.query.tooling.ui.match">
                    </reference>
                    <reference
                       definitionId="org.eclipse.viatra.query.tooling.ui.matcher">
                    </reference>
                  </or>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.viatra.query.tooling.ui.unloadmodel"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/delete_edit.png"
               label="Unload model"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.viatra.query.tooling.ui.root">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:#TextEditorContext?after=group.edit">
         <menu
               id="org.eclipse.viatra.query.tooling.ui.menu.emfpatternlanguage"
               label="VIATRA">
            <command
                  commandId="org.eclipse.viatra.query.tooling.ui.runtimematcherreg"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.viatra.query.patternlanguage.emf.EMFPatternLanguage">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.viatra.query.tooling.ui.queryexplorer.QueryExplorer.patternsViewerMenu">
         <command
               commandId="org.eclipse.viatra.query.tooling.ui.unregisterpattern"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/delete_edit.png"
               label="Unregister pattern"
               style="push">
         </command>
         <command
               commandId="org.eclipse.viatra.query.tooling.ui.showlocation_patternreg"
               icon="platform:/plugin/org.eclipse.ui/icons/full/elcl16/step_current.png"
               label="Show location"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.viatra.query.tooling.ui.queryexplorer.QueryExplorer">
         <menu
               label="Patterns viewer presentation">
            <command
                  commandId="org.eclipse.viatra.query.tooling.ui.pattern.hierarchical"
                  icon="platform:/plugin/org.eclipse.ui.ide/icons/full/elcl16/hierarchicalLayout.png"
                  label="Hierarchical"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.viatra.query.tooling.ui.pattern.flat"
                  icon="platform:/plugin/org.eclipse.ui.ide/icons/full/elcl16/flatLayout.png"
                  label="Flat"
                  style="push">
            </command>
         </menu>
         <command
               commandId="org.eclipse.viatra.query.tooling.ui.resetui"
               icon="icons/reset.gif"
               label="Reset UI"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.viatra.query.tooling.ui.loadmodelmenu">
         <command
               commandId="org.eclipse.viatra.query.tooling.ui.loadresourceset"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.viatra.query.tooling.ui.activedomaineditor">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.viatra.query.tooling.ui.loadresource"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.viatra.query.tooling.ui.activedomaineditor">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.viatra.query.tooling.ui.loadvqlpattern"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.viatra.query.tooling.ui.activepatterneditor">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.viatra.query.tooling.ui.loadvqlmodel"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.viatra.query.tooling.ui.activepatterneditor">
               </reference>
            </visibleWhen>
         </command>
<!--      	 <command
               commandId="org.eclipse.viatra.query.tooling.ui.attachmodel"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.viatra.query.tooling.ui.activepatterneditor">
               </reference>
            </visibleWhen>
         </command>            -->
         </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.viatra.query.tooling.category"
            id="org.eclipse.viatra.query.tooling.ui.runtimematcherreg"
            name="Register patterns in Query Explorer">
      </command>
      <command
            categoryId="org.eclipse.viatra.query.tooling.category"
            id="org.eclipse.viatra.query.tooling.ui.loadmodel"
            name="Load model">
      </command>
<!--      <command
            categoryId="org.eclipse.viatra.query.tooling.category"
            id="org.eclipse.viatra.query.tooling.ui.attachmodel"
            name="Attach pattern model">
      </command> -->
      <command
            categoryId="org.eclipse.viatra.query.tooling.category"
            id="org.eclipse.viatra.query.tooling.ui.showlocation"
            name="Show location">
      </command>
      <category
            description="Commands related to VIATRA"
            id="org.eclipse.viatra.query.tooling.category"
            name="VIATRA">
      </category>
      <command
            categoryId="org.eclipse.viatra.query.tooling.category"
            id="org.eclipse.viatra.query.tooling.ui.unloadmodel"
            name="Unload model">
      </command>
      <command
            categoryId="org.eclipse.viatra.query.tooling.category"
            id="org.eclipse.viatra.query.tooling.ui.unregisterpattern"
            name="Unregister pattern">
      </command>
      <command
            id="org.eclipse.viatra.query.tooling.ui.pattern.flat"
            name="Flat">
      </command>
      <command
            id="org.eclipse.viatra.query.tooling.ui.pattern.hierarchical"
            name="Hierarchical">
      </command>
      <command
            id="org.eclipse.viatra.query.tooling.ui.loadresource"
            name="Load Resource">
      </command>
      <command
            id="org.eclipse.viatra.query.tooling.ui.loadresourceset"
            name="Load ResourceSet">
      </command>
      <command
            id="org.eclipse.viatra.query.tooling.ui.loadvqlmodel"
            name="Load as model">
      </command>
      <command
            id="org.eclipse.viatra.query.tooling.ui.loadvqlpattern"
            name="Load pattern(s)">
      </command>
      <command
            categoryId="org.eclipse.viatra.query.tooling.category"
            id="org.eclipse.viatra.query.tooling.ui.showlocation_patternreg"
            name="Show location">
      </command>
      <command
            categoryId="org.eclipse.viatra.query.tooling.category"
            id="org.eclipse.viatra.query.tooling.ui.resetui"
            name="Reset UI">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.viatra.query.tooling.ui.viatra"
            class="org.eclipse.viatra.query.tooling.ui.queryexplorer.preference.PatternInitializationPreferencePage"
            id="org.eclipse.viatra.query.tooling.ui.queryexplorer"
            name="Query Explorer">
         <keywordReference
               id="org.eclipse.viatra.query.patternlanguage.emf.ui.keyword_EMFPatternLanguage">
         </keywordReference>
      </page>
      <page
            class="org.eclipse.viatra.query.tooling.ui.preferences.RootPreferencePage"
            id="org.eclipse.viatra.query.tooling.ui.viatra"
            name="VIATRA">
      </page>
   </extension>
   <extension
         point="org.eclipse.viatra.query.patternlanguage.annotation">
      <annotation
            description="The annotation can be used to define the way to present the pattern and its match set in the Query Explorer. "
            name="QueryExplorer">
         <annotationparameter
               description="Possible values: &amp;quot;true&amp;quot; to be checked by default (triggering result set display) and &amp;quot;false&amp;quot; to not."
               mandatory="false"
               multiple="false"
               name="checked"
               type="boolean">
         </annotationparameter>
         <annotationparameter
               description="This message will appear for each match of the pattern. The message may refer the parameter variables between $ symbols, or their EMF features, such as in $Param1.name$.&quot;"
               mandatory="false"
               multiple="false"
               name="message"
               type="string">
         </annotationparameter>
      </annotation>
      <annotation
            description="Annotate a pattern with OrderBy to define ordering between matches displayed in the Query Explorer."
            name="OrderBy">
         <annotationparameter
               description="The ordering will be evaluated based on the given key with the form of &quot;Key.someAttribute&quot;. Note that the given attribute must implement the Comparable interface, otherwise no ordering will be maintained."
               mandatory="true"
               multiple="false"
               name="key"
               type="string">
         </annotationparameter>
         <annotationparameter
               description="Possible values: &amp;quot;asc&amp;quot; for ascending order and &amp;quot;desc&amp;quot; for descending order."
               mandatory="true"
               multiple="false"
               name="direction"
               type="string">
         </annotationparameter>
      </annotation>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ui.IEditorPart"
            class="org.eclipse.viatra.query.tooling.ui.QueryLanguageExecutableExtensionFactory:org.eclipse.viatra.query.tooling.ui.queryexplorer.adapters.ModelConnectorAdapterFactoryForEMFEditors">
         <adapter
               type="org.eclipse.viatra.query.tooling.ui.queryexplorer.IModelConnector">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.ui.part.MultiPageEditorPart"
            class="org.eclipse.viatra.query.tooling.ui.QueryLanguageExecutableExtensionFactory:org.eclipse.viatra.query.tooling.ui.queryexplorer.adapters.ModelConnectorAdapterFactoryForEMFEditors">
         <adapter
               type="org.eclipse.viatra.query.tooling.ui.queryexplorer.IModelConnector">
         </adapter>
      </factory>
   </extension>
   <extension
         id="org.eclipse.viatra.query.tooling.ui.projectbuilder"
         name="VIATRA Query Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.eclipse.viatra.query.tooling.ui.QueryLanguageExecutableExtensionFactory">
               <parameter name="guicekey" value="org.eclipse.viatra.query.tooling.ui.builder.ViatraQueryProjectBuilder"/>
         </run></builder>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.viatra.query.tooling.ui.perspective.TransformationDevelopmentPerspective"
            icon="icons/rsz_viatra_logo.png"
            id="org.eclipse.viatra.query.tooling.ui.TransformationDevPerspective"
            name="Transformation Development">
      </perspective>
   </extension>
</plugin>
