<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated library -->
      <package
            uri="http://www.eclipse.org/viatra/examples/library/1.0"
            class="org.eclipse.viatra.examples.library.LibraryPackage"
            genModel="model/library.genmodel"/>
   </extension>

</plugin>
