<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            category="VIATRA"
            file="viatra.toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="org.eclipse.viatra.documentation.help.contexts.xml">
      </contexts>
   </extension>

</plugin>
