<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.viatra.dse.api.strategy.checkconstraints" name="CheckConstraints" schema="schema/org.eclipse.viatra.dse.api.strategy.checkconstraints.exsd"/>
   <extension-point id="org.eclipse.viatra.dse.api.strategy.checkgoalstate" name="CheckGoalState" schema="schema/org.eclipse.viatra.dse.api.strategy.checkgoalstate.exsd"/>
   <extension-point id="org.eclipse.viatra.dse.api.strategy.traversedstatefound" name="TraversedStateFound" schema="schema/org.eclipse.viatra.dse.api.strategy.traversedstatefound.exsd"/>
   <extension-point id="org.eclipse.viatra.dse.api.strategy.solutionfound" name="SolutionFound" schema="schema/org.eclipse.viatra.dse.api.strategy.solutionfound.exsd"/>
   <extension-point id="org.eclipse.viatra.dse.api.strategy.nexttransition" name="NextTransition" schema="schema/org.eclipse.viatra.dse.api.strategy.nexttransition.exsd"/>
   <extension-point id="org.eclipse.viatra.dse.ruledependency.resolver" name="RuleDependencyResolver" schema="schema/org.eclipse.viatra.dse.ruledependency.resolver.exsd"/>
   <extension-point id="org.eclipse.viatra.dse.ruledependency.occurrence" name="Occurrence" schema="schema/org.eclipse.viatra.dse.ruledependency.occurrence.exsd"/>
   <extension
         point="org.eclipse.viatra.dse.api.strategy.solutionfound">
      <client
            class="org.eclipse.viatra.dse.api.strategy.impl.StopAtFirstSolutionFound"
            id="org.eclipse.viatra.dse.api.strategy.impl.StopAtFirstSolutionFound"
            name="StopAtFirstSolutionFound">
      </client>
   </extension>
   <extension
         point="org.eclipse.viatra.dse.api.strategy.traversedstatefound">
      <client
            class="org.eclipse.viatra.dse.api.strategy.impl.BacktrackWhenTraversedStateFound"
            id="org.eclipse.viatra.dse.api.strategy.impl.BacktrackWhenTraversedStateFound"
            name="BacktrackWhenTraversedStateFound">
      </client>
   </extension>
   <extension
         point="org.eclipse.viatra.dse.api.strategy.nexttransition">
      <client
            class="org.eclipse.viatra.dse.api.strategy.impl.DepthFirstNextTransition"
            id="org.eclipse.viatra.dse.api.strategy.impl.DepthFirstNextTransition"
            name="DepthFirstNextTransition">
      </client>
   </extension>
   <extension
         point="org.eclipse.viatra.dse.api.strategy.checkconstraints">
      <client
            class="org.eclipse.viatra.dse.api.strategy.impl.UndoWhenOneConstraintIsNotSatisfied"
            id="org.eclipse.viatra.dse.api.strategy.impl.UndoWhenOneConstraintIsNotSatisfied"
            name="UndoWhenOneConstraintIsNotSatisfied">
      </client>
   </extension>
   <extension
         point="org.eclipse.viatra.dse.api.strategy.checkgoalstate">
      <client
            class="org.eclipse.viatra.dse.api.strategy.impl.SimpleStrategyComponent"
            id="org.eclipse.viatra.dse.api.strategy.impl.CheckAllGoalPattern"
            name="CheckAllGoalPattern">
      </client>
   </extension>
   <extension
         point="org.eclipse.viatra.dse.api.strategy.solutionfound">
      <client
            class="org.eclipse.viatra.dse.api.strategy.impl.SimpleStrategyComponent"
            id="org.eclipse.viatra.dse.FindAllSolutions"
            name="FindAllSolutions">
      </client>
   </extension>
   <extension
         point="org.eclipse.viatra.dse.api.strategy.nexttransition">
      <client
            class="org.eclipse.viatra.dse.api.strategy.impl.GuidedNextTransition"
            id="org.eclipse.viatra.dse.base.GuidedNextTransition"
            name="GuidedNextTransition">
      </client>
   </extension>
   <extension
         point="org.eclipse.viatra.dse.api.strategy.nexttransition">
      <client
            class="org.eclipse.viatra.dse.api.strategy.impl.FixedPriorityNextTransition"
            id="org.eclipse.viatra.dse.api.strategy.impl.FixedPriorityNextTransition"
            name="FixedPriorityNextTransition">
      </client>
   </extension>
   <extension
         point="org.eclipse.viatra.dse.api.strategy.nexttransition">
      <client
            class="org.eclipse.viatra.dse.api.strategy.impl.BreadthFirstNextTransition"
            id="org.eclipse.viatra.dse.api.strategy.impl.BreadthFirstNextTransition"
            name="BreadthFirstNextTransition">
      </client>
   </extension>

</plugin>
