<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.eclipse.viatra.query.patternlanguage.emf.sirius.SiriusVQLGraphicalEditorPlugin"
               id="org.eclipse.viatra.query.patternlanguage.emf.sirius"
	       name="vqleditor">
    </component>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
        <wizard
            category="org.eclipse.viatra.query.tooling.ui.category"
            class="org.eclipse.viatra.query.patternlanguage.emf.ui.ReusablePatternLanguageExecutableExtensionFactory:org.eclipse.viatra.query.patternlanguage.emf.sirius.wizard.NewProjectWizard"
            finalPerspective="org.eclipse.viatra.query.tooling.ui.TransformationDevPerspective"
            icon="platform:/plugin/org.eclipse.viatra.query.patternlanguage.emf.ui/icons/logo2.png"
            id="org.eclipse.viatra.query.tooling.ui.newproject"
            name="Graphical Query Project"
            preferredPerspectives="org.eclipse.viatra.query.tooling.ui.TransformationDevPerspective,org.eclipse.pde.ui.PDEPerspective,org.eclipse.jdt.ui.JavaPerspective"
            project="true">
      </wizard>
        <wizard
              category="org.eclipse.viatra.query.tooling.ui.category"
              class="org.eclipse.viatra.query.patternlanguage.emf.sirius.wizard.NewVgqlFileWizard"
              finalPerspective="org.eclipse.viatra.query.tooling.ui.TransformationDevPerspective"
              icon="platform:/plugin/org.eclipse.viatra.query.patternlanguage.emf.ui/icons/logo2.png"
              id="org.eclipse.viatra.query.patternlanguage.emf.sirius.newvgqlwizard"
              name="Graphical Query Definition"
              project="false">
        </wizard>
  </extension>
  <extension
         id="vgqlbuilder"
         name="VIATRA Graphical Query Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="false">
         <run
               class="org.eclipse.viatra.query.patternlanguage.emf.ui.ReusablePatternLanguageExecutableExtensionFactory">
               <parameter name="guicekey" value="org.eclipse.viatra.query.patternlanguage.emf.sirius.builder.GraphicalQueryProjectBuilder"/>
         </run></builder>
   </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
            class="org.eclipse.viatra.query.patternlanguage.emf.sirius.handlers.LoadVgqlPatternHandler"
            commandId="org.eclipse.viatra.query.tooling.ui.result.loadvqlqueries">
         <activeWhen>
            <with
                variable="activeEditorId">
               <equals
                     value="org.eclipse.sirius.diagram.ui.part.SiriusDiagramEditorID">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeEditor">
               <test
                     property="org.eclipse.viatra.query.tooling.ui.browser.result.activeengine">
               </test>
            </with>
         </enabledWhen>
      </handler>
     <handler
           class="org.eclipse.viatra.query.patternlanguage.emf.sirius.handlers.InitValidatorsWithWriteTransaction"
           commandId="org.eclipse.viatra.addon.validation.runtime.ui.initValidatorsOnEditor">
        <activeWhen>
           <with
                 variable="activePartId">
              <equals
                    value="org.eclipse.sirius.diagram.ui.part.SiriusDiagramEditorID">
              </equals>
           </with>
        </activeWhen>
     </handler>
  </extension>
     <extension
        point="org.eclipse.emf.validation.constraintProviders">
     <constraintProvider
           cache="false"
           class="org.eclipse.viatra.query.patternlanguage.emf.sirius.validation.VQLConstraintProvider"
           mode="Batch">
        <package
              namespaceUri="http://www.eclipse.org/viatra/query/patternlanguage/emf/GraphPatternLanguage">
        </package>
     </constraintProvider>
     <category
           id="org.eclipse.viatra.query.patternlanguage.emf.sirius.validation"
           name="VGQL Validation Rules">
     </category>
  </extension>
     <extension
           point="org.eclipse.emf.validation.constraintBindings">
        <binding
              category="org.eclipse.viatra.query.patternlanguage.emf.sirius.validation"
              context="org.eclipse.viatra.query.patternlanguage.emf.sirius.validation.context">
        </binding>
        <clientContext
              default="false"
              id="org.eclipse.viatra.query.patternlanguage.emf.sirius.validation.context">
           <enablement>
              <instanceof
                    value="org.eclipse.emf.ecore.EObject">
              </instanceof>
           </enablement>
        </clientContext>
     </extension>
</plugin>
