<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.eclipse.viatra.query.patternlanguage.emf.sirius.SiriusVQLGraphicalEditorPlugin"
               id="org.eclipse.viatra.query.patternlanguage.emf.sirius"
	       name="vqleditor">
    </component>
  </extension>
</plugin>
