<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="org.eclipse.viatra.cep.core.engine.runtime.typedTransition"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.eclipse.viatra.cep.core.engine.runtime.util.TypedTransitionQuerySpecification$Provider"
            id="org.eclipse.viatra.cep.core.engine.runtime.typedTransition">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra.cep.core.engine.runtime.finishedAutomaton"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.eclipse.viatra.cep.core.engine.runtime.util.FinishedAutomatonQuerySpecification$Provider"
            id="org.eclipse.viatra.cep.core.engine.runtime.finishedAutomaton">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra.cep.core.engine.runtime.finalState"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.eclipse.viatra.cep.core.engine.runtime.util.FinalStateQuerySpecification$Provider"
            id="org.eclipse.viatra.cep.core.engine.runtime.finalState">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra.cep.core.engine.runtime.latestEvent"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.eclipse.viatra.cep.core.engine.runtime.util.LatestEventQuerySpecification$Provider"
            id="org.eclipse.viatra.cep.core.engine.runtime.latestEvent">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra.cep.core.engine.runtime.preState"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.eclipse.viatra.cep.core.engine.runtime.util.PreStateQuerySpecification$Provider"
            id="org.eclipse.viatra.cep.core.engine.runtime.preState">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra.cep.core.engine.runtime.guardAtomicPattern"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.eclipse.viatra.cep.core.engine.runtime.util.GuardAtomicPatternQuerySpecification$Provider"
            id="org.eclipse.viatra.cep.core.engine.runtime.guardAtomicPattern">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra.cep.core.engine.runtime.eventHandledByEventToken"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.eclipse.viatra.cep.core.engine.runtime.util.EventHandledByEventTokenQuerySpecification$Provider"
            id="org.eclipse.viatra.cep.core.engine.runtime.eventHandledByEventToken">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra.cep.core.engine.runtime.eventHandledByState"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.eclipse.viatra.cep.core.engine.runtime.util.EventHandledByStateQuerySpecification$Provider"
            id="org.eclipse.viatra.cep.core.engine.runtime.eventHandledByState">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra.cep.core.engine.runtime.atomicPatternType"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.eclipse.viatra.cep.core.engine.runtime.util.AtomicPatternTypeQuerySpecification$Provider"
            id="org.eclipse.viatra.cep.core.engine.runtime.atomicPatternType">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra.cep.core.engine.runtime.enabledTransition"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.eclipse.viatra.cep.core.engine.runtime.util.EnabledTransitionQuerySpecification$Provider"
            id="org.eclipse.viatra.cep.core.engine.runtime.enabledTransition">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra.cep.core.engine.runtime.tokenInTrapState"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.eclipse.viatra.cep.core.engine.runtime.util.TokenInTrapStateQuerySpecification$Provider"
            id="org.eclipse.viatra.cep.core.engine.runtime.tokenInTrapState">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra.cep.core.engine.runtime.initState"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.eclipse.viatra.cep.core.engine.runtime.util.InitStateQuerySpecification$Provider"
            id="org.eclipse.viatra.cep.core.engine.runtime.initState">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra.cep.core.engine.runtime.partiallyMatchedEventPattern"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.eclipse.viatra.cep.core.engine.runtime.util.PartiallyMatchedEventPatternQuerySpecification$Provider"
            id="org.eclipse.viatra.cep.core.engine.runtime.partiallyMatchedEventPattern">
      </matcher>
   </extension>
   <extension
         id="org.eclipse.viatra.cep.core.engine.runtime.epsilonTransitionBetweenStates"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="org.eclipse.viatra.cep.core.engine.runtime.util.EpsilonTransitionBetweenStatesQuerySpecification$Provider"
            id="org.eclipse.viatra.cep.core.engine.runtime.epsilonTransitionBetweenStates">
      </matcher>
   </extension>

</plugin>
