<?xml version="1.0" encoding="UTF-8"?><?eclipse version="3.4"?><plugin>
  <extension id="org.eclipse.incquery.viewers.runtime.model.patterns.Traceability" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:org.eclipse.incquery.viewers.runtime.model.patterns.Traceability" id="org.eclipse.incquery.viewers.runtime.model.patterns.Traceability"/>
  </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated notation -->
      <package
            uri="http://org.eclipse.incquery/viewmodel/notation/1.0"
            class="org.eclipse.incquery.viewers.runtime.model.NotationPackage"
            genModel="model/notation.genmodel"/>
   </extension>

</plugin>
