<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated library -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.incquery.examples.eiqlibrary.presentation.EIQLibraryModelWizardID"
            name="%_UI_EIQLibraryModelWizard_label"
            class="org.eclipse.incquery.examples.eiqlibrary.presentation.EIQLibraryModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EIQLibraryModelFile.gif">
         <description>%_UI_EIQLibraryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated library -->
      <editor
            id="org.eclipse.incquery.examples.eiqlibrary.presentation.EIQLibraryEditorID"
            name="%_UI_EIQLibraryEditor_label"
            icon="icons/full/obj16/EIQLibraryModelFile.gif"
            extensions="eiqlibrary"
            class="org.eclipse.incquery.examples.eiqlibrary.presentation.EIQLibraryEditor"
            contributorClass="org.eclipse.incquery.examples.eiqlibrary.presentation.EIQLibraryActionBarContributor">
      </editor>
   </extension>

</plugin>
