<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="org.eclipse.incquery.uml.derivedfeatures.DerivedFeatures" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.DerivedFeatures" id="org.eclipse.incquery.uml.derivedfeatures.DerivedFeatures"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.stateIsComposite" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="State" feature-name="isComposite" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.StateIsCompositeQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.relationshipRelatedElement" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="Relationship" feature-name="relatedElement" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.RelationshipRelatedElementQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.classifierFeature" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="Classifier" feature-name="feature" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.ClassifierFeatureQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.actionInput" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="Action" feature-name="input" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.ActionInputQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.actionOutput" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="Action" feature-name="output" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.ActionOutputQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.directedRelationshipSource" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="DirectedRelationship" feature-name="source" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.DirectedRelationshipSourceQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.redefinableTemplateSignatureInheritedParameter" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="RedefinableTemplateSignature" feature-name="inheritedParameter" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.RedefinableTemplateSignatureInheritedParameterQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.classSuperClass" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="Class" feature-name="superClass" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.ClassSuperClassQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.activityNodeInGroup" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="ActivityNode" feature-name="inGroup" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.ActivityNodeInGroupQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.vertexOutgoing" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="Vertex" feature-name="outgoing" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.VertexOutgoingQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.connectorKind" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="Connector" feature-name="kind" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.ConnectorKindQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.elementOwner" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="Element" feature-name="owner" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.ElementOwnerQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.classifierGeneral" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="Classifier" feature-name="general" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.ClassifierGeneralQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.redefinableElementRedefinedElement" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="RedefinableElement" feature-name="redefinedElement" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.RedefinableElementRedefinedElementQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.activityGroupSuperGroup" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="ActivityGroup" feature-name="superGroup" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.ActivityGroupSuperGroupQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.packageOwnedStereotype" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="Package" feature-name="ownedStereotype" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.PackageOwnedStereotypeQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.namedElementQualifiedName" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="NamedElement" feature-name="qualifiedName" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.NamedElementQualifiedNameQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.encapsulatedClassifierOwnedPort" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="EncapsulatedClassifier" feature-name="ownedPort" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.EncapsulatedClassifierOwnedPortQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.namespaceMember" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="Namespace" feature-name="member" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.NamespaceMemberQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.opaqueExpressionResult" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="OpaqueExpression" feature-name="result" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.OpaqueExpressionResultQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.redefinableElementRedefinitionContext" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="RedefinableElement" feature-name="redefinitionContext" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.RedefinableElementRedefinitionContextQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.namespaceOwnedMember" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="Namespace" feature-name="ownedMember" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.NamespaceOwnedMemberQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.deploymentTargetDeployedElement" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="DeploymentTarget" feature-name="deployedElement" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.DeploymentTargetDeployedElementQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.elementOwnedElement" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="Element" feature-name="ownedElement" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.ElementOwnedElementQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.classifierAttribute" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="Classifier" feature-name="attribute" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.ClassifierAttributeQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.activityEdgeInGroup" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="ActivityEdge" feature-name="inGroup" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.ActivityEdgeInGroupQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.namespaceImportedMember" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="Namespace" feature-name="importedMember" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.NamespaceImportedMemberQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.associationEndType" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="Association" feature-name="endType" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.AssociationEndTypeQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.messageMessageKind" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="Message" feature-name="messageKind" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.MessageMessageKindQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.packageOwnedType" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="Package" feature-name="ownedType" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.PackageOwnedTypeQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.namedElementClientDependency" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="NamedElement" feature-name="clientDependency" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.NamedElementClientDependencyQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.activityGroupSubgroup" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="ActivityGroup" feature-name="subgroup" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.ActivityGroupSubgroupQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.connectableElementEnd" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="ConnectableElement" feature-name="end" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.ConnectableElementEndQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.classExtension" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="Class" feature-name="extension" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.ClassExtensionQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.structuredClassifierRole" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="StructuredClassifier" feature-name="role" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.StructuredClassifierRoleQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.activityGroupContainedEdge" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="ActivityGroup" feature-name="containedEdge" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.ActivityGroupContainedEdgeQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.namedElementNamespace" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="NamedElement" feature-name="namespace" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.NamedElementNamespaceQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.structuredClassifierPart" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="StructuredClassifier" feature-name="part" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.StructuredClassifierPartQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.stateIsOrthogonal" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="State" feature-name="isOrthogonal" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.StateIsOrthogonalQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.activityNode" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="Activity" feature-name="node" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.ActivityNodeQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.activityGroupContainedNode" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="ActivityGroup" feature-name="containedNode" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.ActivityGroupContainedNodeQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.extensionMetaclass" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="Extension" feature-name="metaclass" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.ExtensionMetaclassQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.propertyIsComposite" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="Property" feature-name="isComposite" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.PropertyIsCompositeQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.packageNestedPackage" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="Package" feature-name="nestedPackage" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.PackageNestedPackageQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.vertexIncoming" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="Vertex" feature-name="incoming" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.VertexIncomingQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.featureFeaturingClassifier" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="Feature" feature-name="featuringClassifier" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.FeatureFeaturingClassifierQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.activityGroup" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="Activity" feature-name="group" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.ActivityGroupQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.protocolTransitionReferred" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="ProtocolTransition" feature-name="referred" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.ProtocolTransitionReferredQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.typePackage" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="Type" feature-name="package" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.TypePackageQuerySpecification"/>
  </extension>
  <extension id="extension.surrogate.org.eclipse.incquery.uml.derivedfeatures.directedRelationshipTarget" point="org.eclipse.incquery.patternlanguage.emf.surrogatequeryemf">
    <surrogate-query-emf class-name="DirectedRelationship" feature-name="target" package-nsUri="http://www.eclipse.org/uml2/5.0.0/UML" surrogate-query="org.eclipse.incquery.runtime.extensibility.PQueryExtensionFactory:org.eclipse.incquery.uml.derivedfeatures.util.DirectedRelationshipTargetQuerySpecification"/>
  </extension>
</plugin>
