<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.incquery.tooling.ui"
            class="org.eclipse.incquery.tooling.localsearch.ui.debugger.views.LocalSearchDebugView"
            icon="icons/logo2.png"
            id="org.eclipse.incquery.tooling.localsearch.ui.LocalSearchDebugView"
            name="Local Search Debugger"
            restorable="true">
      </view>
   </extension>
    <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.eclipse.incquery.tooling.localsearch.ui.LocalSearchDebugView"
               minimized="false"
               ratio="0.5"
               relationship="left"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.incquery.tooling.localsearch.ui.debugger.localsearch.start"
            name="Start local search">
      </command>
      <command
            id="org.eclipse.incquery.tooling.localsearch.ui.debugger.localsearch.step"
            name="Step local search">
      </command>
      <command
            id="org.eclipse.incquery.tooling.localsearch.ui.debugger.localsearch.run"
            name="Run local search">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.incquery.tooling.localsearch.ui.debugger.handlers.StartLocalSearchHandler"
            commandId="org.eclipse.incquery.tooling.localsearch.ui.debugger.localsearch.start">
      </handler>
      <handler
            class="org.eclipse.incquery.tooling.localsearch.ui.debugger.handlers.StepLocalSearchHandler"
            commandId="org.eclipse.incquery.tooling.localsearch.ui.debugger.localsearch.step">
      </handler>      
      <handler
            class="org.eclipse.incquery.tooling.localsearch.ui.debugger.handlers.RunLocalSearchHandler"
            commandId="org.eclipse.incquery.tooling.localsearch.ui.debugger.localsearch.run">
      </handler>
 </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.incquery.tooling.localsearch.ui.LocalSearchDebugView">
         <command
               commandId="org.eclipse.incquery.tooling.localsearch.ui.debugger.localsearch.start"
               icon="icons/lrun_obj.gif"
               label="Start local search"
               style="push">
         </command>
         <command
               commandId="org.eclipse.incquery.tooling.localsearch.ui.debugger.localsearch.run"
               icon="icons/resume_co.gif"
               label="Run local search"
               style="push">
         </command>
         <command
               commandId="org.eclipse.incquery.tooling.localsearch.ui.debugger.localsearch.step"
               icon="icons/stepinto_co.gif"
               label="Step local search"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.incquery.tooling.localsearch.ui.debugger.localsearch.step"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F7">
      </key>
      <key
            commandId="org.eclipse.incquery.tooling.localsearch.ui.debugger.localsearch.start"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F9">
      </key>
      <key
            commandId="org.eclipse.incquery.tooling.localsearch.ui.debugger.localsearch.run"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F8">
      </key>
   </extension>

</plugin>
