<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.incquery.tooling.ui"
            class="org.eclipse.incquery.tooling.localsearch.ui.debugger.views.LocalSearchDebugView"
            icon="icons/logo2.png"
            id="org.eclipse.incquery.tooling.localsearch.ui.LocalSearchDebugView"
            name="Local Search Debugger"
            restorable="true">
      </view>
   </extension>
    <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.eclipse.incquery.tooling.localsearch.ui.LocalSearchDebugView"
               minimized="false"
               ratio="0.5"
               relationship="left"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.incquery.tooling.localsearch.ui.debugger.handlers.StartLocalSearchHandler"
            commandId="org.eclipse.debug.ui.commands.RunLast">
         <activeWhen>
            <reference
                  definitionId="org.eclipse.incquery.tooling.localsearch.ui.activeLocalSearchView">
            </reference></activeWhen>
      </handler>
      <handler
            class="org.eclipse.incquery.tooling.localsearch.ui.debugger.handlers.RunLocalSearchHandler"
            commandId="org.eclipse.debug.ui.commands.Resume">
         <activeWhen>
            <reference
                  definitionId="org.eclipse.incquery.tooling.localsearch.ui.activeLocalSearchView">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.incquery.tooling.localsearch.ui.debugger.handlers.StepLocalSearchHandler"
            commandId="org.eclipse.debug.ui.commands.StepInto">
         <activeWhen>
            <reference
                  definitionId="org.eclipse.incquery.tooling.localsearch.ui.activeLocalSearchView">
            </reference>
         </activeWhen>
      </handler>      
 </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.incquery.tooling.localsearch.ui.LocalSearchDebugView">
         <command
               commandId="org.eclipse.debug.ui.commands.RunLast"
               label="Start local search"
               style="push">
         </command>
         <command
               commandId="org.eclipse.debug.ui.commands.Resume"
               label="Run local search"
               style="push">
         </command>
         <command
               commandId="org.eclipse.debug.ui.commands.StepInto"
               label="Step local search"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.incquery.tooling.localsearch.ui.activeLocalSearchView">
         <with
               variable="activePartId">
            <equals
                  value="org.eclipse.incquery.tooling.localsearch.ui.LocalSearchDebugView">
            </equals>
         </with>   
      </definition>
   </extension>

</plugin>
