<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.incquery.tooling.localsearch.ui.debugger.views.SearchPlanView"
            id="org.eclipse.incquery.tooling.localsearch.ui.SearchPlanView"
            name="Local Search Plan View"
            restorable="true">
      </view>
      <view
            class="org.eclipse.incquery.tooling.localsearch.ui.debugger.old.FrameView"
            id="org.eclipse.incquery.tooling.localsearch.ui.FrameView"
            name="Local Search Frame View"
            restorable="true">
      </view>
   </extension>
    <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.eclipse.incquery.tooling.localsearch.ui.SearchPlanView"
               minimized="false"
               ratio="0.5"
               relationship="left"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.incquery.tooling.localsearch.ui.debugger.localsearch.start"
            name="Start local search">
      </command>
      <command
            id="org.eclipse.incquery.tooling.localsearch.ui.debugger.localsearch.step"
            name="Step local search">
      </command>
      <command
            id="org.eclipse.incquery.tooling.localsearch.ui.debugger.localsearch.run"
            name="Step local search">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.incquery.tooling.localsearch.ui.debugger.handlers.StartLocalSearchHandler"
            commandId="org.eclipse.incquery.tooling.localsearch.ui.debugger.localsearch.start">
      </handler>
      <handler
            class="org.eclipse.incquery.tooling.localsearch.ui.debugger.handlers.StepLocalSearchHandler"
            commandId="org.eclipse.incquery.tooling.localsearch.ui.debugger.localsearch.step">
      </handler>      
      <handler
            class="org.eclipse.incquery.tooling.localsearch.ui.debugger.handlers.RunLocalSearchHandler"
            commandId="org.eclipse.incquery.tooling.localsearch.ui.debugger.localsearch.run">
      </handler>
 </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.incquery.tooling.localsearch.ui.SearchPlanView">
         <menu
               label="Local Search">
            <command
                  commandId="org.eclipse.incquery.tooling.localsearch.ui.debugger.localsearch.start"
                  label="Start local search"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.incquery.tooling.localsearch.ui.debugger.localsearch.step"
                  label="Step local search"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.incquery.tooling.localsearch.ui.debugger.localsearch.run"
                  label="Run local search"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.incquery.tooling.localsearch.ui.debugger.localsearch.step"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F7">
      </key>
      <key
            commandId="org.eclipse.incquery.tooling.localsearch.ui.debugger.localsearch.start"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F9">
      </key>
      <key
            commandId="org.eclipse.incquery.tooling.localsearch.ui.debugger.localsearch.run"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F8">
      </key>
   </extension>

</plugin>
