/.Follows_Pattern.java._trace
/.Or_Pattern.java._trace
/Follows_Pattern.java
/Or_Pattern.java
/.And_Pattern.java._trace
/.Multiplicity1_Pattern.java._trace
/.MultiplicityAtLeast_Pattern.java._trace
/.Multiplicity_Pattern.java._trace
/.CpTest_Pattern.java._trace
/And_Pattern.java
/CpTest_Pattern.java
/MultiplicityAtLeast_Pattern.java
/Multiplicity_Pattern.java
/.Test_Pattern.java._trace
