<?xml version="1.0" encoding="UTF-8"?><?eclipse version="3.4"?><plugin>
  <extension point="org.eclipse.ui.views">
    <view category="org.eclipse.viatra.query.tooling.ui" class="org.eclipse.viatra.query.tooling.ui.retevis.views.ReteVisualizationView" icon="platform:/plugin/org.eclipse.viatra.query.tooling.ui/icons/logo2.png" id="org.eclipse.viatra.query.tooling.ui.retevis.views.ReteVisualizer" name="Rete Visualizer"/>
  </extension>
  <extension id="org.eclipse.viatra.query.tooling.ui.retevis.ReteVisualization" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:org.eclipse.viatra.query.tooling.ui.retevis.ReteVisualization" id="org.eclipse.viatra.query.tooling.ui.retevis.ReteVisualization"/>
  </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           category="org.eclipse.viatra.query.tooling.ui.viatra"
           class="org.eclipse.viatra.query.tooling.ui.retevis.preference.ReteVisualizationPreferencePage"
           id="org.eclipse.viatra.query.tooling.ui.retevis"
           name="Rete Visualization">
        <keywordReference
              id="org.eclipse.viatra.query.patternlanguage.emf.ui.keyword_EMFPatternLanguage">
        </keywordReference>
     </page>
  </extension>
</plugin>
