<?xml version="1.0" encoding="UTF-8"?><plugin>
  <extension id="headless.HeadlessQueries" point="org.eclipse.incquery.runtime.queryspecification">
    <group group="org.eclipse.incquery.runtime.extensibility.SingletonExtensionFactory:headless.HeadlessQueries" id="headless.HeadlessQueries"/>
  </extension>
</plugin>
