<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="headless.eClassNames"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="headless.eclassnames.EClassNamesMatcherFactory$Provider"
            id="headless.eClassNames">
      </matcher>
   </extension>
   <extension
         id="headless.eClassNamesKeyword"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="headless.eclassnameskeyword.EClassNamesKeywordMatcherFactory$Provider"
            id="headless.eClassNamesKeyword">
      </matcher>
   </extension>
   <extension
         id="headless.eClassNamesKeyword"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="headless.eclassnameskeyword.EClassNamesKeywordEvaluator1_1"
            id="headless.eClassNamesKeyword_1_1">
      </evaluator>
   </extension>
   <extension
         id="headless.eObject"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="headless.eobject.EObjectMatcherFactory$Provider"
            id="headless.eObject">
      </matcher>
   </extension>
   <extension
         id="headless.classesInPackage"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="headless.classesinpackage.ClassesInPackageMatcherFactory$Provider"
            id="headless.classesInPackage">
      </matcher>
   </extension>
   <extension
         id="headless.subPackage"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="headless.subpackage.SubPackageMatcherFactory$Provider"
            id="headless.subPackage">
      </matcher>
   </extension>
   <extension
         id="headless.classesInPackageHierarchy"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="headless.classesinpackagehierarchy.ClassesInPackageHierarchyMatcherFactory$Provider"
            id="headless.classesInPackageHierarchy">
      </matcher>
   </extension>
   <extension
         id="headless.ePackage"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="headless.epackage.EPackageMatcherFactory$Provider"
            id="headless.ePackage">
      </matcher>
   </extension>
   <extension
         id="headless.eClass"
         point="org.eclipse.incquery.runtime.matcherfactory">
      <matcher
            factoryProvider="headless.eclass.EClassMatcherFactory$Provider"
            id="headless.eClass">
      </matcher>
   </extension>

</plugin>
