<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="headless.eClassNames"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="headless.eclassnames.EClassNamesQuerySpecification$Provider"
            id="headless.eClassNames">
      </matcher>
   </extension>
   <extension
         id="headless.eClassNamesKeyword"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="headless.eclassnameskeyword.EClassNamesKeywordQuerySpecification$Provider"
            id="headless.eClassNamesKeyword">
      </matcher>
   </extension>
   <extension
         id="headless.eClassNamesKeyword"
         point="org.eclipse.incquery.runtime.xexpressionevaluator">
      <evaluator
            evaluatorClass="headless.eclassnameskeyword.EClassNamesKeywordEvaluator1_1"
            id="headless.eClassNamesKeyword_1_1">
      </evaluator>
   </extension>
   <extension
         id="headless.eObject"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="headless.eobject.EObjectQuerySpecification$Provider"
            id="headless.eObject">
      </matcher>
   </extension>
   <extension
         id="headless.classesInPackage"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="headless.classesinpackage.ClassesInPackageQuerySpecification$Provider"
            id="headless.classesInPackage">
      </matcher>
   </extension>
   <extension
         id="headless.subPackage"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="headless.subpackage.SubPackageQuerySpecification$Provider"
            id="headless.subPackage">
      </matcher>
   </extension>
   <extension
         id="headless.classesInPackageHierarchy"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="headless.classesinpackagehierarchy.ClassesInPackageHierarchyQuerySpecification$Provider"
            id="headless.classesInPackageHierarchy">
      </matcher>
   </extension>
   <extension
         id="headless.ePackage"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="headless.epackage.EPackageQuerySpecification$Provider"
            id="headless.ePackage">
      </matcher>
   </extension>
   <extension
         id="headless.eClass"
         point="org.eclipse.incquery.runtime.queryspecification">
      <matcher
            querySpecificationProvider="headless.eclass.EClassQuerySpecification$Provider"
            id="headless.eClass">
      </matcher>
   </extension>

</plugin>
