<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.viatra.query.tooling.ui"
            class="org.eclipse.viatra.query.tooling.debug.variables.ViatraQueryVariablesView"
            icon="icons/logo2.png"
            id="org.eclipse.viatra.query.tooling.debug.variables.Viatra.QueryVariablesView"
            name="VIATRA Query Variables"
            restorable="true">
      </view>
   </extension>

</plugin>
