<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.viatra.query.tooling.ui"
            class="org.eclipse.viatra.query.tooling.debug.variables.ViatraQueryVariablesView"
            icon="icons/logo2.png"
            id="org.eclipse.viatra.query.tooling.debug.variables.Viatra.QueryVariablesView"
            name="VIATRA Query Variables"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <viewShortcut
               id="org.eclipse.viatra.query.tooling.debug.variables.Viatra.QueryVariablesView">
         </viewShortcut>
         <view
               id="org.eclipse.viatra.query.tooling.debug.variables.Viatra.QueryVariablesView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.debug.ui.VariableView"
               visible="false">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
